[2019-09-25 18:45] erwin-smith opened #1 "New language request: ZenScript"
https://github.com/CraftTweaker/ZenScript

[2019-09-25 20:23] codelani commented on #1
Added https://codelani.com/languages/zenscript.html

[2019-09-25 20:23] #1 closed

[2021-02-24 06:27] ell1e opened #15 ""github" should possibly be named something else, like "repository""
I suggest the data entry "github" should possibly be named something else, like "repository". There are other places like [gitlab.com](https://gitlab.com), so naming a data key after just one platform (no matter how popular) when quite a few others are used just is a bit weird.

[2021-02-24 15:18] codelani commented on #15
Gitlab should be a property as well. Just pushed. Good suggestion! Thanks!

[2021-02-24 15:18] #15 closed

[2021-02-24 15:19] codelani commented on #15
What seems to work best is to start specific but also have a catch all for things that use none of the major git hosts.

[2021-02-24 15:34] ell1e commented on #15
Yeah I would just name it "repository" or similar. Almost no project has multiple, but there sure are way more ways to host code than gitlab or gthub. So I don't think having these keys makes a lot of sense.

[2021-02-24 15:59] codelani commented on #15
The key word is "almost". CodeLani is about helping people build the next great programming language. So a lot of attention is put into making things flexible to be able to track outliers. Perhaps we will see some interesting patterns in languages that mirror their repos to GitLab and GitHub and X. Or maybe we will see a fluctuations in popularity between the two. Doing it this way makes it ever s

[2021-02-24 16:00] codelani commented on #15
Thank you for bringing this up. Always helpful when I'm forced to articulate some of these seemingly odd design decisions.

[2021-02-24 16:01] ell1e commented on #15
Yeah I think you should just allow "repository" multiple times. It is trivial to detect github and gitlab from the URL, so the current format just seems messier for no benefit.

[2021-02-24 16:41] codelani commented on #15
I do ad hoc parsing things like this "A simple /^gitlab /g is enough to show many languages use gitlab" many times a day.

[2021-02-24 16:49] ell1e commented on #15
So why don't you write a quick script to look at the URL instead? That really doesn't seem like a strong use case for me to make the format weird for everyone, IMHO.

[2021-08-19 10:16] PallHaraldsson opened #16 "Invalid Julia (package count) info"
Hi, I like your site that I just discovered.

Regarding Julia, its package manager, the repository moved, so your info at:

https://codelani.com/posts/does-every-programming-language-have-a-central-package-repository.html

i.e. not only 1,906 (not sure even at the time, don't recall when the moved happened).

i.e. you could substitute (if you need accurate numbers)
https://github.com/JuliaRegistri

[2021-12-24 17:41] StoneCypher opened #17 "Not able to check out the repo"
This is because there is a file in the repo named `nul.lani`, and `nul` is a reserved word in Windows

Because your instructions say c# should be called `c-sharp` to get around filesystem limitations, I suggest the same for `nul.lani`

Pr incoming

[code]

[2021-12-25 00:29] #17 closed

[2021-12-25 00:31] codelani commented on #17
TIL! Thank you!

[2021-12-25 00:45] StoneCypher commented on #17
Confirmed fixed.

[code]

[2022-06-24 00:18] #16 closed

[2022-06-24 00:19] codelani commented on #16
Thanks @PallHaraldsson! I just got back to updating the site. I need to update that whole post in general, but for now I fixed Julia with your JuliaHub suggestion. Thank you!

[2022-06-24 15:23] PallHaraldsson commented on #16
Thanks,

I see Smalltalk with 4,534 packages in the list, but in the graph seems much higher (above Julia).

Otherwise the graph might be in sync with the list (update the list? Or might some languages have more than one package manager and you add up numbers, e.g. some lower number for Smalltalk?).

[2022-06-25 02:51] breck7 commented on #16
Okay I updated the old chart, with the updated Julia count, and I added a link to an Observable notebook (I previously made it in R Studio).

Before:

![packages-repos-before](https://user-images.githubusercontent.com/74692/175755483-b5940f0f-16b6-4fa9-966c-e578b0a2d0b5.png)

After:
![](https://codelani.com/images/packages-repos.png)

I have 2 more items on the todo list here:
[] Update the other

[2022-06-25 02:54] codelani commented on #16
Okay I updated the old chart, with the updated Julia count, and I added a link to an Observable notebook (I previously made it in R Studio).

Before:
![packages-repos-old](https://user-images.githubusercontent.com/74692/175755549-d9936aa3-c3e9-401c-9cbe-4780408357a5.png)

After:
![](https://codelani.com/images/packages-repos.png)

I have 2 more items on the todo list here:
[] Update the other pack

[2022-08-06 20:26] celtic-coder opened #26 "Suggested importer: Sample programs in every language"
Hi Breck (@breck7),

Back in mid-July, you added the **leachim6** importer ([8fdd117](https://github.com/breck7/pldb/commit/8fdd1178426f1876a5f7f343eda1f2427b13e38a)) for the "hello-world" programs.

Might it also be possible to create an importer for the [Sample Programs in Every Language](https://sampleprograms.io/), a collection started in 2018 by Jeremy Grifski (@jrg94) as part of **The Renega

[2022-08-06 22:20] celtic-coder commented on #26
*The Renegade Coder project.

[2022-08-07 19:43] jrg94 commented on #26
Sounds like a good idea to me! I have some Python code that locally clones the repo and traverses the existing code base, if that seems helpful to y'all: https://github.com/TheRenegadeCoder/subete

[2022-08-07 20:23] breck7 commented on #26
I hadn't seen SamplePrograms before, thanks for the pointer @celtic-coder!

Let's add it. I'm on the road so can't look too closely now but should be similar to the leachim6 as you said.

[2022-08-27 20:56] oscardssmith opened #32 "Number of papers referencing Julia is way too low."
Google scholar lists 3750 articles citing the main Julia paper (https://scholar.google.com/scholar?cites=12373977815425691465&as_sdt=40000005&sciodt=0,22&hl=en) and semantic scholar shows 38000 papers with Julia as a keyword since 2012, and of the first 10 pages, all appear to be Julia papers.

Also, github shows 14000 repositories with julia code https://github.com/search?q=language%3AJulia&type=

[2022-08-27 21:00] breck7 commented on #32
Yes, I apologize I just started adding those.

One of my top priorities this week is to improve the papers, books, repo, and file importers.

I think these will be really helpful (when they are actually accurate) :)

[2022-08-27 21:02] oscardssmith commented on #32
no problem! This looks like a really good resource, I just wanted to bring it to your attention because I looked at it, and was pretty sure something was up. The 85 jobs also seems really low to me, but I don't actually have any data there.

[2022-08-27 21:04] breck7 commented on #32
(ah yeah, jobs too) 👍

[2022-08-27 21:44] Wilfred opened #34 "Spam / vandalism prevention"
It looks like you're allowing anyone to make changes to the site, and any user can impersonate anyone. I don't see anything obviously malicious, although changes like https://github.com/breck7/pldb/commit/2bdc8cda84b66fb3c8aef4637b696aee97c06917 look wrong.

Have you considered adding an authentication mechanism? Since the content is on GitHub, you could probably use that for auth.

[2022-08-27 22:01] breck7 commented on #34
Yes, it's high on the todo list! I want to continue to allow anon commits (helpful when I'm on the go in a pinch), but want to set those aside for some manual review.

Should have it in shortly.

[2022-08-28 02:32] chriscush765 opened #36 "New language request: ccs"
Ccs, a scripting language for infoblox netmri. Here’s a link to official documentation https://www.infoblox.com/wp-content/uploads/infoblox-eval-download-netmri-NetMRI_CCS_Scripting_Guide.pdf

[2022-08-28 04:49] breck7 opened #38 "look at fileType keyword"
probably want to add binary + text

https://github.com/breck7/pldb/commit/ab0be483ff03e6aa4ce3397f304dafbfbc72dff0

[2022-08-28 06:18] breck7 opened #39 "Paradigms/Categories/Use cases/Industries et cetera"
The single type is obviously very limiting. Should improve the other ways of tagging things. A lot can probably be automated/AI.

[2022-08-28 06:23] breck7 commented on #38
The change would be adding the line:

[code]

to fileTypeNode in https://github.com/breck7/pldb/edit/main/database/grammar/type.grammar

Though curious how many langs would fall into this.

[2022-08-28 06:25] breck7 opened #40 "Speed up and automate build so new edits and submissions are deployed immediately"

[2022-08-28 06:29] breck7 commented on #36
Added!

https://github.com/breck7/pldb/commit/2510d91613294c85ead786bea2efcef3909d09d1
https://pldb.com/languages/ccs.html

[2022-08-28 06:29] #36 closed

[2022-08-28 07:06] Yardanico opened #41 "GitHub repository count from BigQuery is inaccurate, easy fix with GitHub's API"
Hello, just saw your project on HN and it looks very interesting :) One thing I immediately noticed is that pldb seems to be using bigquery github data to show repository count of different languages. Sadly that bigquery dataset seems to be quite limited, and there's a much better way to find the number of repositories written in a specific language:

[code]

The actual count is in the `total_coun

[2022-08-28 07:06] Yardanico commented on #41
FYI, docs for REST API for search is on https://api.github.com/search/repositories

[2022-08-28 07:08] Yardanico commented on #41
Also, sorry for an unrelated questions, but does pldb only accept English books to add to the language page, or books in other languages are also accepted?

[2022-08-28 15:10] breck7 commented on #38
I think it's best to have 1 file type per lang. You could probably make a convincing argument that a text lang and a binary lang are by definition 2 langs. For example, for Python there's both: pldb.com/python (text)  and pldb.com/pickle (binary)

[2022-08-28 15:10] #38 closed

[2022-08-28 16:09] breck7 commented on #41
Thanks for the very helpful report @Yardanico! I am aware of this and my plan at the moment is to add those counts asap (hoping tomorrow, we'll see).

On the question of books, do you have an ISBN number? If so should be no problem. I should probably add a general "books" keyword, as I think right now all the books are coming from ISBNdb and/or GoodReads. Can probably add that on Monday too.

[2022-08-28 16:21] breck7 commented on #39
With a better tags system we can better handle cases like Postscript (https://news.ycombinator.com/item?id=32626253)

[2022-08-28 16:24] breck7 opened #42 "Features upgrade"
Spot on feedback to address when upgrading features stuff:

https://news.ycombinator.com/item?id=32628257

`I understand whis is pretty much WIP, but still, it's too unorganized to be anything useful. I thought the most interesting to be features page[1], which is nearly empty, and this effort in taxonomy is rather too complicated to be crowd-sourced without supervision. For example, let's take a

[2022-08-28 21:45] hax opened #44 "CipherLab seems not a programming language"
As wikipedia, it's a company name.

As their homepage, they have C and Basic compiler products.

[2022-08-28 23:02] breck7 commented on #44
you're right! thanks for the catch

[2022-08-28 23:02] #44 closed

[2022-08-29 16:00] breck7 commented on #41
Very helpful report. You made it a lot easier to get this fixed. Thanks @Yardanico ! When you have a chance to review, you could take a look at https://pldb.com/languages/nim.html?

[2022-08-29 16:00] #41 closed

[2022-08-29 16:15] breck7 commented on #32
Okay a fix for repo counts is live: https://pldb.com/languages/julia.html

(still working on the other issues)

[2022-08-29 16:21] oscardssmith commented on #32
Thanks for fixing these so quickly!

[2022-08-29 16:23] oscardssmith commented on #32
Although the number seems to be wrong in the other direction now. The page says 54k, but github says 14k.

[2022-08-29 16:29] ahungry opened #47 "Website loading with SSL error (on Firefox, RX too long, on curl, wrong version number)"
Edit: Sorry, Enter submitted the form without a description :smile:

[code]

I tried on 2 different machines.

Maybe http could be left available, and not provide the redirect (so we can still use the site when https isn't available).

Second edit: Removing the redirect headers, those appear to come from my ISP.

[2022-08-29 16:37] ahungry commented on #47
Ok, apparently comcast/xfinity has pldb.com flagged as a problem with their "xFi Advanced Security", and must have been MITM'ing the SSL site even (causing bad checks on the SSL cert, good job curl and Firefox for detecting).

https://forums.xfinity.com/conversations/your-home-network/please-help-xfi-is-blocking-my-safe-work-website/608084d16346df7a82b774df?commentId=6081970043a1b761d4e7c7bc

has

[2022-08-29 18:02] breck7 commented on #47
Oh wow, thanks @ahungry for investigating and getting to the bottom of that! Someone else reported something similar so thanks for finding the cause and sharing.

I think it's a good point though to have ready to go alternatives. Once I get build running faster, I can probably hook up a GitHub workflow to build the site to a backup alternative domain as well.

[2022-08-29 18:05] breck7 commented on #32
I saw that discrepancy as well. It shows the number coming from the raw API. I think they provide some filtering on the raw search results (or they just do a partial search). They seem to have that defined as "available repository results":

![Screen Shot 2022-08-29 at 8 03 33 AM](https://user-images.githubusercontent.com/74692/187268222-1bad5eb0-648c-4f41-b19c-90501b0213eb.png)

I think I'm showi

[2022-08-29 18:22] tderflinger opened #48 "License Missing"
Hi there,

fantastic project with lots of useful information on programming languages!

One suggestion for the GitHub repository. Please add a LICENSE file, then the License information is visible on the right.

Thanks!
-Thomas

[2022-08-29 18:25] breck7 commented on #48
I know that's intentional.

It's all public domain.

I don't believe in the concept of licenses. (I know I'm weird ;) ).

I do love MIT and GPL et cetera, but I hope we can move to a more intellectually free world and put the idea of "licenses" on ideas to rest.

[2022-08-29 18:25] #48 closed

[2022-08-29 19:05] celtic-coder commented on #47
Hi Breck (@breck7),

I checked the certificate with Qualsys SSL Server Test [here](https://www.ssllabs.com/ssltest/analyze.html?d=pldb.com&hideResults=on) and everything looks fine. The only thing that is odd is that the server hostname is not being returned (bottom of the page).

On [VirusTotal](https://www.virustotal.com/gui/url/bc55c4e918fb0728f0e8dcc4d7dae65424766295cda4285d9fabe22fc408e358/de

[2022-08-29 21:56] ahungry commented on #47
This domain name itself seems to have a long history:

http://web.archive.org/web/20220801000000*/pldb.com

So I'm guessing one or more of the past owners had less than reputable content/redirects at one point.

Xfinity link I mentioned has a link in the comment thread there with some direction on how to apply to be removed from the list (I didn't file such a request, I just disabled my "xfi Advan

[2022-08-30 01:06] breck7 commented on #40
scroll 30 speeds up build 25%

[2022-08-30 19:26] breck7 commented on #34
Thanks for bringing this up @Wilfred !

I did some work on this this morning (ad10ad50f448e8632bd84615501b02022606b599, caca8f5ddd32a9e349abd6224d59d8c889ab7fff, 009f06a27f52e1d9793b805da0a41b88b73ce85e) and also did a few simple things from an admin side so that if someone did want to vandalize, would be detected and reverted quickly with just a minor annoyance.

[2022-08-30 19:26] #34 closed

[2022-09-02 07:26] KiritaniAyaka opened #50 "Wrong layout for `Add a language` page"
![image](https://user-images.githubusercontent.com/26200808/188078294-1bb63d84-573b-4d0e-81ed-fb4e6c7b15d4.png)

My screen width is 1920px. It seems only occurred when width > 1600px.

[2022-09-02 12:17] breck7 opened #51 "nits from reddit to fix"
from Kokaiinum

https://www.reddit.com/r/ProgrammingLanguages/comments/x2m24s/comment/imrf4j5/?context=3

[code]

[2022-09-02 12:20] breck7 opened #52 "add more information about how // was put first in c++ then moved to c"
2 people have mentioned it:
https://news.ycombinator.com/item?id=32621392
https://www.reddit.com/r/ProgrammingLanguages/comments/x2m24s/comment/imqyscm/?context=3

important we get the history correct.

[2022-09-02 19:12] breck7 opened #53 "build.pldb.com refresh"
We need to make it easier for people to add content:
https://github.com/breck7/pldb/commit/73706e569d922f7a3b80f655f618cc842de3e0d1

- when you add a subreddit the reddit importer should run and update immediately
- we should have autocomplete for the language ids

[2022-09-02 19:15] breck7 opened #54 "All ids to external sources should be urls (where possible)"
Right now for things like Wikipedia the grammar asks for the full url but for things like reddit it just asks for the subreddit id. For example. `subreddit Python`

The url is the clear way to go. It's a little bit of redundancy, but it makes each `pldb` file more useful on its own. And it's clearer for a new contributor what needs to be added (always just a url, never need to look up the encoding

[2022-09-02 20:10] breck7 commented on #54
Here is reddit: https://github.com/breck7/pldb/commit/e8a547b5a88cad9446a01d39578a081e9bc052bb

[2022-09-02 20:11] breck7 commented on #54
Also reddit: https://github.com/breck7/pldb/commit/5b08647c5c1c96838ac38ef2b31e7e728aad3001

[2022-09-02 22:09] celtic-coder opened #55 "Language Count Discrepancy"
Hi Breck (@breck7),

The list [All Languages](https://pldb.com/lists/languages.html) states that the PLDB has 4,058 languages:

![All-Languages-count](https://user-images.githubusercontent.com/11787866/188229626-ea221c6c-55f5-42b3-a46c-a03bcff92af4.png)

Doing a search from the home page, with nothing in the search box, gives a different count for the languages:

https://edit.pldb.com/search?q=#

[2022-09-03 00:53] breck7 commented on #55
The 2 counts are different because there are 4,671 entities, but only 4,058 of those fall into categories I classify as "languages". Explained on this page:

![Screen Shot 2022-09-02 at 2 46 14 PM](https://user-images.githubusercontent.com/74692/188249245-1eec3e90-6e71-480e-b376-42ad9907530e.png)

The mapping of language vs non language is currently here: https://github.com/breck7/pldb/blob/a4ebba

[2022-09-03 01:21] #50 closed

[2022-09-03 02:27] breck7 commented on #55
Okay I just did a design refresh on the search results page. Also fixed a lot of little annoying things (I put a bigger search box on that page, and if you are coming from a search I refill all the search boxes with your query)

Before:
![Screen Shot 2022-09-02 at 4 24 20 PM](https://user-images.githubusercontent.com/74692/188252323-67291456-4036-494b-b70a-50595772a5b8.png)

After:
![Screen Shot 2

[2022-09-03 02:28] breck7 commented on #55
I am going to close this one out, but please open a new one if there are issues that remain. I think we could make search really great.

[2022-09-03 02:28] #55 closed

[2022-09-03 04:31] oscardssmith commented on #32
Also for job numbers, indeed is showing roughly 600 (although I don't know how accurate a count that is). https://www.indeed.com/jobs?q=julia+programming&redirected=1&vjk=5cafb23b1e86ae0c

[2022-09-03 12:26] drxionger opened #57 "1000emp"

[2022-09-03 14:44] breck7 commented on #57
?

[2022-09-03 14:46] breck7 commented on #32
Thanks @oscardssmith ! Okay I am going to clean up the importer code now. I've got someone trying to write a model to better detect false positives (and false negatives) for things like book titles and paper titles. Hopefully that will get up to speed this week and perform well.

[2022-09-03 14:48] WickedSmoke commented on #48
Copyright is the law of the land on most of planet Earth, so your repository data is NOT in the public domain unless it is declared as such.  The license file is the perfect place to make this declaration and make your wishes known to users of the data.  Note that many projects name this file "COPYING" rather than "LICENSE", so Github also looks for that.

[2022-09-03 15:31] breck7 commented on #48
I think these are fair points. I'm going to reach out to an expert I know in this field and she if she can weight in.

[2022-09-03 16:20] oscardssmith commented on #32
great! Thanks for all the work on this. It's a really cool resource.

[2022-09-04 00:07] breck7 opened #59 "Remove all *-feature.pldb files"
Those files are a mistake. I think all that information should be moved to the grammar files, and then we should have a `/site/features/` folder, and a `buildFeaturesPagesCommand()` in SiteBuilder that generates those pages. That would make the code a lot clearer and fix a number of things.

[2022-09-04 00:07] breck7 commented on #57
going to close this. maybe you hit a button by mistake?

[2022-09-04 00:07] #57 closed

[2022-09-04 00:10] breck7 commented on #54
`hoplNode` should `extend abstractUrlGuidNode`

[2022-09-04 00:10] breck7 commented on #54
`meetupNode` should probably `extend abstractUrlGuidNode`

[2022-09-04 00:11] breck7 commented on #54
`replitNode` should probably `extend abstractUrlGuidNode`

[2022-09-04 00:11] breck7 commented on #54
`rosettaCodeNode` should probably extend abstractUrlGuidNode

[2022-09-04 00:11] breck7 commented on #54
`twitterNode` should definitely `extend abstractUrlGuidNode`

[2022-09-04 00:12] breck7 commented on #54
`ubuntuPackageNode` should probably `extend abstractUrlGuidNode`

[2022-09-04 00:12] breck7 commented on #54
`tryItOnlineNode` should probably extend abstractUrlGuidNode

[2022-09-04 00:12] breck7 commented on #54
`codeMirrorNode` should probably `extend abstractUrlGuidNode`

[2022-09-04 00:13] breck7 commented on #54
`monacoNode`  should probably `extend abstractUrlGuidNode`

[2022-09-04 00:37] breck7 opened #60 "Add ci"
https://scroll.pub/ has it done well.

[2022-09-04 01:10] breck7 commented on #60
added

[2022-09-04 01:10] #60 closed

[2022-09-04 02:23] breck7 opened #61 "Create scroll keyword for use in posts named something like `filledMissingTable`"
https://pldb.com/posts/originCountries.html

[2022-09-04 02:31] breck7 commented on #53
Here are some things we need:

- MUCH faster save
- Should show which fields are missing for a language and sort those missing fields by importance
- On save pldb.com should be updated
- Run importers on edit server
- Show real time error reporting

[2022-09-04 03:16] breck7 commented on #61
Create a scroll keyword that will print a table of all languages where we have the information and where we don't, so readers can quickly scan, click, add and save any missing data they know of the top of their head

[2022-09-04 03:17] breck7 commented on #53
I just added `- Should show which fields are missing for a language and sort those missing fields by importance` in commit https://github.com/breck7/pldb/commit/ab7af167fb49868d2ebfb6836b3140e47fefc27b

[2022-09-04 03:19] breck7 opened #62 "Fill column `country`"
Currently less than <3000. This one should be a relatively easy one to 3x.

https://pldb.com/posts/originCountries.html

[2022-09-04 12:14] breck7 opened #63 "Fill `screenshot` keyword for all languages with `type visual`"
For visual languages, a picture is worth a thousand words. PLDB now shows a screenshot for visual languages when that keyword is present. Example: https://pldb.com/languages/scratch.html

For every visual language, let's take our own nice screenshot of using the language in action.

See the below commit which added 2 examples:
https://github.com/breck7/pldb/commit/b36729679a39c0e51253050891c6101ef

[2022-09-04 12:17] breck7 commented on #59
I will likely handle this one. But if you are feeling adventurous feel free to submit any pseudocode proposals.

[2022-09-04 13:14] IsSafrullah commented on #63
@breck7 for screenshots, does it have to be the application or the website page?

[2022-09-04 13:25] breck7 commented on #63
Good question @IsSafrullah! It should be a screenshot of the actual running application (so a real screenshot that you took yourself, not a screenshot from the web). There's so few visual languages that it is just much simpler and higher quality to take our own original screenshots of the actual running products than to do anything clever.

[2022-09-04 13:28] IsSafrullah commented on #63
@breck7 got it thanks for the info

[2022-09-04 14:11] celtic-coder opened #64 "Broken links in "Written In""
Hi Breck (@breck7),

In the "Written In" section of the https://edit.pldb.com/pages/acknowledgements.html page, the individual URLs contain the **BASE_URL** replacement word, which has either not been replaced or is not required in its current form.

For example, the JavaScript link is: https://edit.pldb.com/pages/BASE_URL/languages/javascript.html

Since, I'm guessing that the URL should be eithe

[2022-09-04 14:23] #64 closed

[2022-09-04 14:26] breck7 commented on #64
Thanks for the very clear report @celtic-coder ! Just pushed a fix.

[2022-09-04 14:30] breck7 opened #65 "Every language with one should have a `documentation` keyword"
Example:
https://pldb.com/languages/alumina.html:  `documentation https://docs.alumina-lang.net/`

[2022-09-04 14:39] breck7 opened #66 "Clean up, document, and rerun `code/crawlers`"
can probably delete half that code and should provide instructions on what the best patterns have turned out to be

[2022-09-04 15:05] breck7 opened #67 "Make Scroll Dataset for PLDB contributors. Then acknowledgements page: everyone who has contributed code to this repo should be able to add their preferred website/email/twitter/etc if they want"

[2022-09-04 15:07] breck7 opened #68 "refresh `creators.tree`"
https://github.com/breck7/pldb/blob/main/site/lists/creators.tree

every creator should be able to add their:
- `appeared` (birth year)
- city/country of birth
- website
- github
- twitter
- anything else?

[2022-09-04 15:09] breck7 opened #69 "influenced graph and links between languages"
should start adding more and better links on how these languages are related.

i think Diarmuid Pigott's HOPL really pioneered this. does anyone know him? he would definitely be the expert here i think.

[2022-09-04 15:14] breck7 opened #70 "find and add more `demoVideo` data to languages"
example: https://pldb.com/languages/explorer.html `demoVideo https://www.youtube.com/watch?v=0l2QWH-iV3k`

[2022-09-04 21:29] breck7 commented on #68
This file will be deleted and replaced by this system: https://github.com/breck7/pldb/commit/1a4b2f61634d30f45cb04e99b812b268f9558c85

[2022-09-04 21:29] breck7 commented on #67
Ok figured this out. Will have a users database: https://github.com/breck7/pldb/commit/1a4b2f61634d30f45cb04e99b812b268f9558c85

[2022-09-05 06:03] breck7 opened #72 "Help! Fix `video` tag width issues on the new #BuildPublicDomain page ahead of the release of the launch video"
Here's what the page looks like now:
https://pldb.com/posts/buildPublicDomain.html

<img width="895" alt="Screen Shot 2022-09-04 at 8 02 05 PM" src="https://user-images.githubusercontent.com/74692/188370995-52c130a2-7f4c-486b-b8a6-cd246078c20e.png">

Obviously got some issues.

Anyone know `<video>` tags and can come up with a fix(es)? Pull requests wanted!!!

(and of course we *have* to use the v

[2022-09-05 21:51] breck7 opened #74 "another possible data source"
https://glosario.carpentries.org/
https://twitter.com/gvwilson/status/1566904419857440768

[2022-09-06 09:26] breck7 opened #75 "speed up `git pull`"
adding the branch for the github.pldb.com mirror slowed down git pull. figure that out.

(probably just change:)
`pldb/.github/workflows/buildGithubDotPldbDotCom.yaml`

[2022-09-06 09:58] breck7 opened #76 "new source?"
@celtic-coder you thinking what I'm thinking?

https://github.com/dbohdan/compilers-targeting-c

[2022-09-06 15:55] breck7 opened #77 "turn on incremental parsing in goaccess to reduce server load"
It looks like the goaccess cronjob is now taking too long and causing some spikes.

<img width="377" alt="Screen Shot 2022-09-06 at 5 53 37 AM" src="https://user-images.githubusercontent.com/74692/188680821-eed9eee9-7e7d-4c51-8288-d4f38a95111b.png">

No reason for us to reparse everything each time, there is an incremental option:
PROCESSING LOGS INCREMENTALLY
https://goaccess.io/man

[2022-09-06 17:31] #52 closed

[2022-09-06 18:31] breck7 opened #78 "Help filling in field `originCommunity` across all languages"
https://pldb.com/lists/originCommunities.html

[2022-09-06 19:51] breck7 opened #79 "Feedback from TW: improve `type` column?"
It needs to be improved.

https://github.com/breck7/pldb/issues/39

[2022-09-07 02:59] breck7 commented on #72
thanks to ivan and blad for help solving this!

[2022-09-07 02:59] #72 closed

[2022-09-07 03:02] #51 closed

[2022-09-07 15:21] breck7 commented on #47
This is still only affecting a small percentage of users, but lots of people are now reporting this.

[2022-09-07 15:23] arvindthyagarajan commented on #47
Can confirm. I tried on both Chrome and FF with HTTPS everywhere enabled. ISP is Spectrum in NYC.

[2022-09-07 16:09] ahungry commented on #47
I appreciate the passion for the domain you acquired (it's hard to get a small domain!), but I wonder if instead of trying to undo 20 years of bad behavior the site may have partook in (among many providers) you may have an easier time treating pldb.com like how duckduckgo.com has ddg.gg as a short domain.

Something like:
- proglangdb.com (main site, although check first for clean history :smile:

[2022-09-07 16:29] breck7 commented on #47
Hi @ahungry, thanks for the feedback! I realize you don't have access to the same information I do about the domain pldb.com. While I did straight out buy cancerdb.com and braindb.com, I was not able to buy pldb.com but signed a perpetual lease of pldb.com from venture.com. (Equivalent to buying the domain for 20 years for about $50,000 with the benefit that if this was a flop I would have only ha

[2022-09-07 17:58] ahungry commented on #47
I'm just a passer-by, this is your endeavor, so take any of my feedback and ideas with a grain of salt :smile:

They are only approaching it from a technical/usability point of view and concern, with no regard to the business/sunk cost aspect.

I wish you the best of luck in clean up with the various providers and your project.

[2022-09-07 20:42] breck7 commented on #47
Oh I love the dashboard!!! It's this open source thing called GoAccess (https://goaccess.io/). I think @allinurl https://github.com/allinurl makes it.

My favorite part of each day is when I get a coffee and some free time and I get to sit down and learn more about what it can do. Amazing stuff.

[2022-09-07 20:42] breck7 commented on #47
Forgot to tag you in that last comment @ahungry !

Thanks for all your help!

[2022-09-08 05:42] breck7 opened #82 "Fix contributors section on acknowledgements page"
When I visit: https://api.github.com/repos/breck7/pldb/contributors, it seems to be pretty unstable (some days contributors disappear).

Perhaps https://github.com/breck7/pldb/blob/13616171ee22d000bd07a85aac131ff5ce59382d/code/SiteBuilder.ts#L218 should be figuring out the contributors from the git repo, and not from that GET url.

[2022-09-08 17:56] celtic-coder commented on #69
Hi Breck (@breck7),

Diarmuid is on [LinkedIn](https://www.linkedin.com/in/diarmuid-pigott-6a59056/), but does not appear to have any useful contact information. Is there a possibility of sending him a private message, perhaps? Or might some other contributor be able to assist with the relationships between languages?

Kind Regards,
Liam

[2022-09-08 19:30] breck7 commented on #69
Great idea @celtic-coder !

Does anyone know Diarmuid Pigott? I didn't fine HOPL until years after I started, but that gave me confidence that this would be a good idea, if someone else thought it was a good enough idea to work on it for so long.

Maybe we could ask him for a huge favor, if we would be willing to dedicate HOPL to public domain? `© Diarmuid Pigott 1995-2020. Do not copy, do not rep

[2022-09-09 04:47] SRS-WRKS opened #88 "Building pldb with cloc requires atleast 3 GB of memory"
Locally building and testing with cloc requires at least 3 GB of RAM according to informal tests.

Should the build scripts/tests scripts be changed to warm people who want to download and build project ??

Note: Without cloc the memory requirement for building pldb seems to be quiet less.

Related Pull request: https://github.com/breck7/pldb/pull/87

EDIT LOG: Made the text description clearer.

[2022-09-09 05:05] SRS-WRKS opened #89 "Possible duplicates: database/things/accent.pldb and database/things/accent-programming-language.pldb"
Files:
database/things/accent-programming-language.pldb
and
database/things/accent.pldb
seem to be possible duplicates

as both list
https://en.wikipedia.org/wiki/Rational_Synergy#History

as reference .

Possibly related Issue #78

[2022-09-09 09:07] breck7 commented on #88
Wow, thanks for bringing this to my attention. Can someone ping the `cloc` team and get this fixed?

We could just not require it, but cloc is 16 YEARS OLD (https://pldb.com/languages/cloc.html), so there must be something stupid I did if it is taking 3GB of RAM to build.

Thank you @SRS-WRKS . Great work.

[2022-09-09 09:13] breck7 commented on #89
Yes they look like dupes to me. someone please merge accent-programming-language.pldb into accent

[2022-09-09 11:57] SRS-WRKS commented on #89
Resolved in commit 702fb7b613e7ced09cf30e7abdb4e20cd80afa0c

[2022-09-09 11:57] #89 closed

[2022-09-09 15:38] breck7 opened #90 "Steal Massimo's Idea: list of most famous bugs?"
https://twitter.com/Rainmaker1973/status/1568258255088156672

[2022-09-09 22:35] celtic-coder commented on #90
Except we need to be careful! The famous "bug in the computer" as supposedly found by Grace Hopper is itself a [myth](https://lunduke.substack.com/p/the-story-of-the-first-computer-bug)!

We would need to ensure that there are no bugs in our bugs! 😃

[2022-09-10 10:26] breck7 opened #91 "New source: https://github.com/EbookFoundation/free-programming-books"
Thanks JS!

[2022-09-10 11:04] SRS-WRKS opened #92 "database/things/* errata discussion"
alfred.pldb:
https://medium.com/@nikitavoloboev/writing-alfred-workflows-in-go-2a44f62dc432
References an IDE for mac users

alcor.pldb:
Seemed to have copy pasted a few extra sentences from Wikipedia, in the summary section.

algobox.pldb:
Wikipedia page https://en.wikipedia.org/wiki/Algoboxn does not seem to exist. There are no other links.

database/things/alpha-programming-language.pldb and da

[2022-09-10 11:57] breck7 opened #93 "Question: anyone know if GitHub has a URL scheme where I can generate a GET URL with params to pre-populate a pull request?"
Does that make sense? The idea is as you edit a file on build, you have the choice to save directly or go to GitHub and submit it as a PR.

![Screen Shot 2022-09-10 at 1 55 30 AM](https://user-images.githubusercontent.com/74692/189482172-9c59474f-3d4a-4733-93f2-7ea070091271.png)

[2022-09-10 11:58] SRS-WRKS commented on #88
Thanks for the nice compliment @breck7  . Have a nice day.

[2022-09-10 13:37] breck7 opened #94 "Add left arrow and right arrow for previous/next to default scroll layout that functions the same way as keyboard shortcuts left and right"
See mockup, with the < and >:

![Screen Shot 2022-09-10 at 3 35 26 AM](https://user-images.githubusercontent.com/74692/189485894-51cb1aba-4215-43fd-a044-57ab6e9c4de3.png)

[2022-09-10 13:58] breck7 commented on #75
Alright support team here's my `.git/config`. How can we make this better? No one should be pulling the `github.pldb.com` branch automatically. No one. Slow as fuck.

How do we fix?

![Screen Shot 2022-09-10 at 3 57 14 AM](https://user-images.githubusercontent.com/74692/189486686-743562f8-c049-460a-a525-da295b91b8d2.png)

[2022-09-10 18:04] zvanshi commented on #94
Hi! I wish to contribute to your project. Please guide me where can I find your website as I am new to open-source.

Thank you

[2022-09-10 20:21] huwdp opened #95 "Add 45 langs"
I recently tried to add 45 languages into the system but they have not appeared in the language list. I have added the list of langs as a zip. Would it be possible to add these langs to the list?
[langs.zip](https://github.com/breck7/pldb/files/9541364/langs.zip)

[2022-09-10 20:27] breck7 commented on #95
WOW! THANK YOU @huwdp ! I'M ON IT. SORRY THE BUILD SERVER IS STILL HAVING PROBLEMS.

[2022-09-10 20:30] breck7 commented on #94
Scroll.pub! You got this @zvanshi ! I would like if a few people tried to implement this, and then I can choose the one that fits what I was hoping for. Even if I don't pick your implementation, I'm sure it will still be fun and educational to build one!

[2022-09-10 20:36] celtic-coder commented on #95
Hi Huw (@huwdp),

I am on Windows, so there is a file which is causing problems as it is case-sensitive.

- HuwCode.txt
- huwcode.txt

Are these meant to be the same language?

Kind Regards,
Liam

[2022-09-10 20:42] huwdp commented on #95
Hello there, sorry please ignore that one! I forgot to remove it

[2022-09-10 23:09] celtic-coder commented on #95
Hi Huw (@huwdp),

I have added the 43 new languages (there were some duplicates). Can you check that everything looks OK?

Note: I made my own duplicate (huwcode-lower.pldb) while checking. I will remove that one tomorrow.

Hi Breck (@breck7),

There is a red X next to the commit. Does this mean that there is some problem with the workflow? I am more used to creating a separate pull request, so th

[2022-09-10 23:32] celtic-coder commented on #95
Hi Breck (@breck7),

I found this in the log of the 15.x build:
[code]
Might this be the problem?

Kind Regards,
Liam

[2022-09-10 23:39] celtic-coder commented on #95
Hi Huw (@huwdp),

I have found a possible problem: [Name.pldb (line 5)](https://github.com/breck7/pldb/blob/main/database/things/Name.pldb#L5) has:

`appeared Appeared
`

Is the "Name" file a possible template for the other languages?

Kind Regards,
Liam

[2022-09-11 00:26] huwdp commented on #95
Ah. I thought I removed that one too :(

Please remove that one

[2022-09-11 03:37] SRS-WRKS commented on #93
You were talking about parsers getting grammar validation as a feature recently.
Would you validate the files after each web edit and what if the data sources in production become divergent from one in git hub (sent via pull requests) ?

[2022-09-11 04:02] SRS-WRKS commented on #75
creating an empty git repository and checking out only the selected branches seem to be the only option.

pldb could contain a submodule which links to the actual  github.pldb.com mirror ?

[2022-09-11 06:38] breck7 commented on #93
Oh yeah maybe I should add that tonight.

Good question. Let's cross that bridge when we come to it (enough times that it becomes a problem)

[2022-09-11 06:41] breck7 opened #96 "Step 1: clean up the new >40 file names. Step 2: add a unit test to ensure we have no files with uppercase letters nor spaces, special chars, etc. Let's stick to a-z0-9\-"
let's figure out best way to enforce reduced entropy in filenames. If we need to expand combinatorics later, we can. But let's keep it as small as possible for as long as possible, until we gain some good advantage by adding additional characters

- no spaces in filenames *.pldb
- all lowercase filenames

[2022-09-11 09:02] celtic-coder commented on #96
Yes, having all filenames as lowercase would avoid the conflict between Windows and Unix, for example.

If you have not already done so, you might also check out the use of ".gitattributes" for CR/LF endings and ".editorconfig" for other settings in the actual file content.

Tristano (@tajmone) has a great example [here](https://github.com/pml-lang/pml-userman/pull/11) which also addresses things

[2022-09-11 09:14] breck7 commented on #95
Thanks so much everyone! Thank you @huwdp ! Thank you @celtic-coder !

I did not write enough validations code yet, so a few nits causing the red X. Not a big deal. We have plenty of time today to go through those and fix.

[2022-09-11 09:15] breck7 commented on #96
Interesting @celtic-coder ! I have not done so. Wasn't aware of that. Thanks!

[2022-09-11 09:48] tajmone commented on #96
## EditorConfig Validation (tips)

Beware that when it comes to validating EditorConfig styles consistency (e.g. via a CI services or GitHub Actions), there are a number of issues pertaining the validation tools that need to be kept in mind.

[EClint] is the oldest (and probably widest use) validation tool. The problem is that it's been declared a dead project a long time ago, contains various bug

[2022-09-11 10:51] SRS-WRKS opened #97 "Test somethimes pass locally but fail on github"
Sometimes the issues caught on github are genuine .

Many times it just results in multiple repeated tests and time spent on chasing causes that don't seem to affect local development setup but only fails on github build setup.

It would be nice if the procedure that needs to be followed is given below for reference.

Thanks.

[2022-09-11 10:58] breck7 commented on #97
FLAKEY TESTS? WE DON'T HAVE FLAKEY TESTS.

I'm intrigued. My guess is it's a case sensitive file name issue. The +46 new files had some file names that need to be cleaned up. There should be no uppercase letters, and no spaces. I don't know what else is in those. We should also add a test to `pldb/code/test.ts`to make sure we don't hit this again.

[2022-09-11 10:58] breck7 commented on #96
Also probably the cause of: https://github.com/breck7/pldb/issues/97

[2022-09-11 11:39] SRS-WRKS commented on #97
Duplicate of #96

[2022-09-11 11:39] #97 closed

[2022-09-11 16:50] celtic-coder commented on #95
Hi Huw (@huwdp),

Not a problem! @SRS-WRKS removed this in commit [0ae750f](https://github.com/breck7/pldb/commit/0ae750fe9a6b3a6ccea6678b94c41bfed42e490d). If you find any problems in the content of your submitted languages, then a pull request or an edit / update would be appreciated.

If there is anything else that needs updating or correcting, then please let us know. Thanks again for your wor

[2022-09-11 16:50] #95 closed

[2022-09-12 03:09] breck7 commented on #48
OK THE WORLD'S FOREMOST EXPERT ON THIS TOPIC HAS SPOKEN AND SHE HAS SAID: "Note that raw “data” – facts, information, and such – is not copyrightable so that stuff is born public domain.".

THANK YOU @tderflinger AND @WickedSmoke FOR FORCING US TO GET TO THE BOTTOM OF THIS ISSUE.

[2022-09-12 15:36] thevinitgupta commented on #82
I am new to this repository and would like to contribute. Could you clarify more on what the URL is?

[2022-09-12 15:44] breck7 commented on #82
Hi @thevinitgupta . I want to iterate over everyone who has contributed to the git repo and show their name, website, that sort of thing. At first I was using that link above to fetch that info from github, but for some reason now it's not as reliable, it seems to only return a portion of hte contributors. maybe you could explore. dont sweat it if you dont figure it out right away.

thank you so m

[2022-09-12 18:59] breck7 opened #100 "Do we have a keyword for `spec`?"
I forget.

https://buf.build/blog/protobuf-language-specification

[2022-09-12 19:18] breck7 opened #103 "Add treesheets"
https://build.pldb.com/search?q=treesheets

i dont know whether it shoudl be app or editor or something else

[2022-09-13 11:17] breck7 opened #105 "Can someone write a method that computes the real time "number of facts" in PLDB?"
For now let's define it as 'non blank cells in pldb.csv'. Let's include the computeds.

I would think a fantastic v1 would be for someone to just find the exact number and put it in the readme.md. No code needed for v1.

[2022-09-13 19:14] WickedSmoke commented on #48
The larger body of work is subject to copyright law unless you explicitly waive your rights.  You can read about this from numerous sources such as

https://sco.library.emory.edu/research-data-management/publishing/copyright-data.html

The key take away from that page is:

All I'm asking for is a file in the root directory that will remove the uncertainty.

[2022-09-13 19:52] huwdp commented on #95
Thani you all :)

[2022-09-15 07:38] SRS-WRKS commented on #105
I have 135239 as an answer

[2022-09-15 08:56] SRS-WRKS commented on #78
Origin community is a best effort service when the source is academia papers. I don't have access to the archives and i rely on portal blurbs about authors, who might have moved on to newer institutions and hence might reflect their current or latest place of employment. Is that acceptable ??

[2022-09-15 10:39] breck7 commented on #78
Do your best. We'll have lots of people (and other things) validating information later.

If that's the source, a good keyword to add while you're adding originCommunity is `firstAnnouncement`.

[2022-09-15 10:40] breck7 commented on #78
@SRS-WRKS ideally we add the community they were part of when the language started. But if we add the community that they were part of in the childhood years/teenage years that is fine too, if they were still working on it.

[2022-09-15 11:07] breck7 commented on #105
Your number sounds more accurate than mine @SRS-WRKS .

"PLDB builds one main CSV file. languages.csv contains over 42k facts across 4110 rows and 307 columns and is 3.6MB uncompressed. Every row is a language and every language is one row."

https://github.com/breck7/pldb/commit/6b568122f37513e33d6b7c939c7d8edac2016249

[2022-09-15 12:04] SRS-WRKS commented on #105
@breck7  Here is the shell script one liner, if you want to verify or add to archive
`tail -n +2  site/pldb.csv | sed 's/,,,*/,/g' | awk -F, '{for (i =1; i<=NF ; i++) { print $i; printf "\n" }  }' | sed '/^$/d'  | wc -l`

[2022-09-15 12:31] SRS-WRKS commented on #78
Ill try my best.

[2022-09-15 14:37] breck7 opened #106 "Add a fun fact about how Javascript was named and why it is related to Java (even if not like, as related as you would think)"

[2022-09-16 05:52] LikhithShankarPrithvi commented on #106
Fun Fact - Although Javascript and its interpreter implementation were called LiveScript, at the time, the dot-com boom had begun and Java was the hot new language, so Netscape management considered the JavaScript name which is a marketing ploy.

#106

[2022-09-17 01:46] breck7 commented on #106
Thanks @LikhithShankarPrithvi ! Do you have a link to your source?

[2022-09-17 01:56] breck7 commented on #105
Thanks @SRS-WRKS ! Love your approach.

I actually realized I had a way to do it with grammar. The poorly named `getTopDownArray()` method in `jtree` returns a TreeNode for every line in a tree doc, which equates to at least one fact (example code would span multiple lines so I filter those).

Of course, some of the lines contain many facts, so this is still a good undercount, but better than befo

[2022-09-17 01:56] #105 closed

[2022-09-17 02:16] breck7 commented on #103
added

[2022-09-17 02:16] #103 closed

[2022-09-17 07:19] LikhithShankarPrithvi commented on #106
[Speech by Eich, developer of JS](https://www.youtube.com/watch?v=XOmhtfTrRxc&t=2m5s) - story behind Naming javascript
[Early name LiveScript](https://web.archive.org/web/20080208124612/https://wp.netscape.com/comprod/columns/techvision/innovators_be.html) - by Eich as well.

[2022-09-17 10:47] breck7 commented on #106
Nice! Do you think you could try adding a fact @LikhithShankarPrithvi ? (https://build.pldb.com/edit/javascript)

[2022-09-17 11:21] breck7 commented on #96
I'm going to close this but @celtic-coder if you think of one or 2 key gitattributes etc to add please feel free to open new issue or do PR

[2022-09-17 11:21] #96 closed

[2022-09-17 11:26] breck7 commented on #75
That's a good idea @SRS-WRKS ! I think we don't even need to make it a submodule. Instead of building a branch with a github workflow, we should just have a repo containing the built static site, and then we just update that repo. That would feed a number of birds with one seed.

[2022-09-17 19:17] cindywu commented on #65
question: should every language have a `documentation` keyword? or should languages only have a `documentation` keyword if there is a know documentation source?

[2022-09-17 20:16] breck7 commented on #65
good question. a language should only have a documentation keyword if someone found a link to documentation. at some point we should also have a way to indicate that a search fro documentation was done but results were null (which is a very useful piece of information). that's a common pattern that i haven't standardized yet. maybe we need a special keyword to indicate that

[2022-09-19 09:45] SRS-WRKS opened #107 "How to add mulitple references for a database things entry"
File database/things/bbx.pldb
 Needs two references https://www.basis.com/bbj and https://trademark.trademarkia.com/bbx-78639049.html

I cant seem to figure out how to do it.

[2022-09-19 15:07] breck7 commented on #107
Great question! A file can have unlimited `reference` keywords.

`reference URLONE
reference URLTWO
...`

[2022-09-20 00:29] breck7 opened #108 "Cleanup columnDocumentation method"
That's some of the worst code I wrote in the whole project. Sorry about that @SRS-WRKS ! I need to clean that up.

[2022-09-20 00:34] breck7 opened #109 "Improve search"
[] Case insensitive
[] Add regex search

[2022-09-20 01:02] breck7 commented on #109
Can do regex later

[2022-09-20 01:02] #109 closed

[2022-09-20 04:09] SRS-WRKS commented on #107
Local tests here fail with :
`[
  ExtraWordError {
    _node: referenceNode {
      _nodeCreationTime: 341562.576166,
      _parent: [pldbNode],
      _line: 'reference  https://www.basis.com/bbj ',
      _children: [],
      _cachedLineNumber: 8,
      _words: [Array]
    },
    _cell: GrammarExtraWordCellTypeCell {
      _typeDef: undefined,
      _node: [referenceNode],
      _isCatchAll: true,

[2022-09-20 18:15] breck7 opened #110 "Make sure every language has an `appeared` year"
looks like we're at 92%. this should be 100%

<img width="647" alt="Screen Shot 2022-09-20 at 8 15 05 AM" src="https://user-images.githubusercontent.com/74692/191333524-047dee36-fa1a-4f16-80cf-26ef628e1ecb.png">

[2022-09-20 18:16] breck7 commented on #107
You have an extra space after `bbj`. Hence the extra word error. Sorry that is very confusing. Let me see if I can make a better error message for that kind of situation.

[2022-09-20 18:20] #107 closed

[2022-09-22 05:02] SRS-WRKS commented on #92
database/things/bistro-programming-language.pldb:
The only reference page referring to wikipedia (https://en.wikipedia.org/wiki/Bistro_%28programming_language%29) Does not seem to exist anymore.

[2022-09-22 05:33] breck7 commented on #92
Thanks! Feel free to send a Pull Request that you think is best and I can review (Or I can take a look in a little bit).

[2022-09-22 05:35] SRS-WRKS commented on #92
@breck7 : I will look into it after i finish the current issue. Too many tasks at a time would decrease accuracy of "grunt work" in my experience.

[2022-09-22 18:01] celtic-coder opened #111 "Suggestion for H1 and Title tags"
Hi Breck (@breck7),

The home page of the PLDB site lacks some details that are actually spelled out very carefully elsewhere on the site.

For example, the abbreviation PLDB itself. You and I know what it means, but to the uninformed observer, especially someone coming to the main PLDB page, they might well ask: _"What does PLDB mean?"_

A glance down the page would show that it might be about pr

[2022-09-22 18:58] breck7 commented on #111
Great idea! I can take a look at a pull request, or I can get to this a little later today. Thanks so much @celtic-coder ! Little things like this make the site 1-3% better everyday and that compounds to a *much* better experience for our visitors in the long run.

[2022-09-23 04:01] LikhithShankarPrithvi commented on #106
Hey @breck7 I have added the JS - funfact in the code and created a pull request. Please check it out.

[2022-09-23 04:04] breck7 commented on #106
Great job @LikhithShankarPrithvi !

[2022-09-23 04:04] #106 closed

[2022-09-24 05:14] SRS-WRKS opened #117 "Feature request list stats at bottom of page (enhacement)"
Right now Going to the bottom of list page (for example) https://pldb.com/lists/originCommunities.html gives number of entries in the list

Would it be possible to have a link to https://pldb.com/docs/csv.html#originCommunity so that monitoring daily additions can include bigger picture of percentage of entry covered so far/remaining ?

[2022-09-24 14:19] breck7 commented on #117
Yes! But not exactly sure what you mean. Could you attach a mockup/screenshot or send a PR?

[2022-09-24 14:21] breck7 opened #121 "Add advanced search"
https://github.com/breck7/pldb/discussions/120

[2022-09-24 18:48] AlexUrielContreras commented on #110
Hey, I'm new to open source and would like to contribute to this repo from this issue!

[2022-09-24 21:52] breck7 commented on #110
Go for it @AlexUrielContreras ! Let us know if you have any problems.

[2022-09-25 06:39] SRS-WRKS commented on #117
I would need to upskill to send a PR on this issue.
As of now all i can do is attach a screenshot .  May be in the future.  Please find a mockup collage below[
![1](https://user-images.githubusercontent.com/112767375/192131539-dc516615-832c-48c1-9e24-1bdaa32e0e16.png)
](url)

[2022-09-26 14:50] breck7 commented on #40
this is a dupe of https://github.com/breck7/pldb/issues/53

[2022-09-26 14:50] #40 closed

[2022-09-26 14:55] breck7 commented on #79
It might be as simple as allowing multiple types and we just use the first type as the primary type.

[2022-09-26 17:41] mahadwaseem123 commented on #110
Hi @breck7 , I will work to make it 100%.

[2022-09-26 17:55] breck7 commented on #110
Awesome @mahadwaseem123 !

[2022-09-27 07:43] SRS-WRKS opened #123 "site directory clean after build"
Note: Thanks to Mr Mahad Waseem , for bringing this to attention

The command npm run clean does not seem to remove generated html and (generated) scroll files.

The following shell code removes them
`BUILT_SITE_LIST=$(git status --ignored | sed 's/^[ \t]*//' | grep '^site/.*' )`
`for $BUILT_SITE_FILE in $BUILT_SITE_LIST; do rm "$BUILT_SITE_FILE" ; done
`

Operating system specific shell script se

[2022-09-27 15:04] breck7 commented on #123
nice work @mahadwaseem123 and @SRS-WRKS!

This is a good idea (https://github.com/breck7/scroll/issues/66). Looking into it now

[2022-09-27 15:48] breck7 opened #124 "broken link on rankings algo explanation page"
https://pldb.com/pages/the-rankings-algorithm.html

thanks to patrick for the report

[2022-09-27 16:34] StuartDambi commented on #67
Hello @breck7, I would like to work on this one.

[2022-09-27 16:53] breck7 opened #126 "fix too wide videos"
![image](https://user-images.githubusercontent.com/74692/192588165-b182a5ab-1f10-46dd-a59b-a071525ee175.png)

https://github.com/breck7/scroll/issues/60

[2022-09-27 16:56] breck7 commented on #67
@codedbystuart was this you (sorry I got an email from GitHub but I don't see the comment here):

![Screen Shot 2022-09-27 at 6 56 18 AM](https://user-images.githubusercontent.com/74692/192588943-06b69aca-c2b5-4e07-a5db-939e651bdafe.png)

[2022-09-27 16:58] StuartDambi commented on #67
Hello @breck7, yes this was me. I want to work on this issue.

[2022-09-27 16:59] breck7 commented on #67
awesome! go for it!

[2022-09-27 18:13] mahadwaseem123 commented on #124
Hi @breck7 , can you send me the correct link? I will fix the broken link with the correct one.

[2022-09-27 20:28] mahadwaseem123 opened #127 "Broken Youtube Link at Blog Page"
Hi @breck7 , there is one broken youtube link at https://pldb.com/posts/wefunder.html

[2022-09-27 20:46] rkimera94 opened #128 "Introduce Number of Extenstions on the List of File Extensiosn."
hi @breck7  -I was of the view that we introduce the number of file extensions on the List of Extensions.
![Screenshot 2022-09-27 at 23 42 07](https://user-images.githubusercontent.com/54355787/192631199-2ce778b2-2c19-49bd-947d-b9bc0e282c00.png)

[2022-09-27 20:50] rkimera94 opened #129 "Unable to Access the Blog tab."
@breck7  - When I try accessing the blog tab on the site: I get this error on my local server.
Cannot GET /site/posts/index.html
It seems it's not complying index. scroll(index.scroll has no index tags to compile).

[2022-09-28 10:54] mahadwaseem123 commented on #126
Hi @breck7 , I have fixed this issue. Can you kindly check if it is better now?

[2022-09-28 14:42] rkimera94 commented on #128
[PR](https://github.com/breck7/pldb/pull/132)

[2022-09-28 15:14] breck7 commented on #126
much better! great work @mahadwaseem123 !

[2022-09-28 15:55] stevekrouse commented on #47
![Screenshot_20220928-114938](https://user-images.githubusercontent.com/2288939/192827403-d4397171-ed85-4ffb-9587-6285799ed771.png)

On chrome Android

[2022-09-28 16:52] breck7 commented on #127
https://www.youtube.com/watch?v=yogvgmK2L4g

[2022-09-28 20:27] mahadwaseem123 commented on #110
Hi @breck7 , increased the coverage by 1%. Almost added appeared year in 50 entities. Almost 250-300 remaining. Working on it to increase coverage more.

[2022-09-28 23:35] breck7 opened #134 "add cuscus"
https://link.springer.com/chapter/10.1007/978-3-030-24781-2_8

(thanks James Scott-Brown for pointer)

[2022-09-29 04:51] SRS-WRKS opened #135 "HOWTO generate database/sortTemplate.txt from database/grammar/ sub directory"
database/sortTemplate.txt seems to be needed for pldb rather than treebase.  Is there a way people can generate database/sortTemplate.txt from a valid database/grammar/ sub directory. It would be really useful for database contributors.

currently how is such a useful file generated ?

[2022-09-29 05:21] SRS-WRKS commented on #134
Done and added my first language :)

[2022-09-29 05:21] #134 closed

[2022-09-29 06:03] breck7 commented on #135
I write that file by hand currently.

It is a great question. I feel like we are missing a pattern there, but I haven't figured it out yet.

It's been super useful. Before we had that things were a mess.

[2022-09-29 06:05] breck7 commented on #134
Nice @SRS-WRKS !

[2022-09-29 06:23] SRS-WRKS commented on #135
Running npm build on a directory containing treebase files (https://treebase.treenotation.org/) should ideally auto generate it, if there was no error in database grammar, etc.

[2022-09-29 06:31] SRS-WRKS opened #137 "string fileExtension pldb being ignored in database/things/ directory during build"
The build system seem to try to build even non pldb files in database/things/ while database/grammar/root.grammar Line 8 specifies

`string fileExtension pldb`

Warning about unnecessary files in database/things/  is acceptable , but building all files seem to defeat the purpose of the grammar file entry.

[2022-09-29 07:10] breck7 commented on #137
Great point @SRS-WRKS ! You're right it's confusing that we have that line and then ignore it during build.

[2022-09-29 08:26] celtic-coder commented on #134
Very good! 😊

[2022-09-29 09:35] mahadwaseem123 commented on #124
Hi @breck7 , correct link required to be replaced.

[2022-09-29 09:42] mahadwaseem123 opened #138 "Duplicate Languages/Entities in database/things"
Hi @breck7 , while doing appeared keyword coverage increase issue, I came across the fact that there are some duplicate pldb file in database/things for same languages. This could also impact coverage too. What you suggest?

[2022-09-29 10:15] celtic-coder opened #139 "Make ScrollSet for Creators"
Hi Breck (@breck7),

I would like to update the Wikipedia entries for the [language creators](https://pldb.com/lists/creators.html). However, in order to do so, I would need to know if the "[creators.tree](https://github.com/breck7/pldb/blob/475e792ce52043d286d472795f09a866e374e9b1/site/lists/creators.tree)" file  is auto-generated?

Also, it looks to have 59 Wikipedia records, but the correspondi

[2022-09-29 10:23] celtic-coder commented on #124
Hi @mahadwaseem123,

Breck (@breck7) would need to verify this, but I believe that the link to the source code for the ranking algorithm is: https://github.com/breck7/pldb/blob/main/code/Folder.ts#L539-L544

Kind Regards,
Liam

[2022-09-29 10:41] breck7 commented on #138
Great question @mahadwaseem123 . It happens! Merge the dupes and send a pull request.

Here's an example: https://github.com/breck7/pldb/commit/6ab84b2e08d25843629e55ce8145bd62a26c2046

(delete the one with the worse filename and move any facts from it to the other one)

[2022-09-29 10:41] #138 closed

[2022-09-29 10:42] breck7 commented on #139
Aloha @celtic-coder ! Great idea. It is not auto generated.

[2022-09-29 10:43] breck7 commented on #139
I had an idea once that maybe each of these entries should be a full file (https://github.com/breck7/pldb/tree/main/site/users), but I think that would be premature optimization, and we could probably get very far just by updating the creators.tree file.

[2022-09-29 10:45] breck7 commented on #124
I think you may have been right @celtic-coder but for some reason I'm showing the rankings method at line 158: https://github.com/breck7/pldb/blob/38df473b675c4d48a0d9c1c6fdded9df27953c39/code/Folder.ts#L158

This is such a common request that perhaps it's worth it to create a static version of that method and include it in a separate file. Okay I'll do that now

[2022-09-29 11:08] breck7 commented on #124
ok the link should now point to: https://github.com/breck7/pldb/blob/main/code/Rankings.ts

[2022-09-29 17:10] breck7 opened #140 "GitHub language stats are incorrect"
![Screen Shot 2022-09-29 at 7 09 27 AM](https://user-images.githubusercontent.com/74692/193095361-fa81edd1-e6f5-406d-8f87-4a74cb6c2a54.png)

the actual stats are here: https://pldb.com/pages/about.html

Here is how we customize cloc to add our custom langs: https://github.com/breck7/pldb/blob/main/code/clocLangs.txt

I'm not sure how to do that with Github.

[code]

[2022-09-29 18:03] adriantintpilver commented on #74
Hello! could you please put a little more detail about what is needed in this issue?

Thank you very much!

[2022-09-29 18:26] breck7 commented on #74
Great question @adriantintpilver !

My general approach to adding a data source is like this:

1. Stumble upon an interesting data source, let's pretend it's called "worlds-best-best-programming-books.xyz"
2. Start manually adding lines to `*.pldb` files like `worldsBestProgrammingBooks php 432 books` to get a "feel" for how best to extract the most useful data from that source and add it to your

[2022-09-29 20:26] StuartDambi commented on #140
@breck7, https://github.com/breck7/pldb/pull/142

[2022-09-29 21:03] StuartDambi commented on #78
@breck7 , is this task complete? I can as well jump in and work on this.

[2022-09-29 21:04] mahadwaseem123 commented on #127
Hi @breck7 , the link was actually fine but it was not used properly as the Iframe supports only embedded link. It took me a bit to understand but now it is working fine. Posted the root cause here so may be it can help someone else too.

[2022-09-29 21:21] breck7 commented on #127
nice work @mahadwaseem123 !

[2022-09-29 21:21] #127 closed

[2022-09-29 21:32] mahadwaseem123 commented on #129
Hi @rkimera94 @breck7 , this may be not the actual resolution but you will be able to access the blog by going to directory pldb/site/posts/ and then run the command pldb/.node_modules/scroll-cli/scroll.js  build. It will compile the .scroll files. Hope it helps.

[2022-09-29 23:36] breck7 opened #145 "in addition to originCommunity have something like `steward` or `currentCommunity`"
https://news.ycombinator.com/reply?id=33023153&goto=item%3Fid%3D33022398%2333023153

[2022-09-30 00:52] breck7 opened #146 "potential thing to link to"
https://codelanguageconverter.com/

[2022-09-30 00:52] breck7 commented on #146
https://news.ycombinator.com/item?id=33026968

[2022-09-30 02:05] breck7 commented on #145
More feedback to use to improve: https://www.reddit.com/r/ProgrammingLanguages/comments/xrbd79/list_of_communities_where_programming_languages/

[2022-09-30 07:55] mahadwaseem123 commented on #111
Hi @breck7 , what is we split this issue into parts and at least try implementing wherever possible? May be we can achieve something which can eventually improve the website's SEO. What you think?

[2022-09-30 13:10] mahadwaseem123 commented on #117
Hi @breck7 and @SRS-WRKS , I have tried this enhancement and I am very hopeful to push it by Monday.

[2022-09-30 13:26] breck7 opened #148 "Add indeed.com jobs numbers for top 250 langs"
The `indeedJobs` keyword should be present on at least the top 250 langs.

![Screen Shot 2022-09-30 at 3 26 24 AM](https://user-images.githubusercontent.com/74692/193279799-1fc9a098-093b-4dd2-b33e-0c0c870b0163.png)

[2022-09-30 13:27] breck7 commented on #111
For sure @mahadwaseem123! You can always post as many pull requests as possible :)

[2022-09-30 13:34] rkimera94 opened #150 "Added new job sites on the job list"
@breck7  I have added some job sites.
My [PR ](https://github.com/breck7/pldb/pull/149)

[2022-09-30 13:35] rkimera94 commented on #150
@breck7  I will have to fix the issue of prettier for the files changed

[2022-09-30 13:42] rkimera94 commented on #150
@breck7  Is it fine to introduce a list of talent pools?

[2022-09-30 13:43] rkimera94 commented on #150
<img width="673" alt="Screenshot 2022-09-30 at 16 41 49" src="https://user-images.githubusercontent.com/54355787/193282996-7f0f1661-6aa9-4495-8945-3c5dbda90e10.png">

[2022-09-30 13:47] adriantintpilver commented on #92
Hello!

The idea of this issues is to unify the information of the duplicate entries? like for example: ciao-programming-language and ciao
Leaving only one record in "things" that has the unified information of the two records?

That would be the plan for each of the cases named in this issue?

Thank you so much!

[2022-09-30 13:49] breck7 commented on #92
Yes @adriantintpilver !

[2022-09-30 13:54] adriantintpilver commented on #92
perfect. I will be working on this issue.
I understand that part of the task is to investigate the data and understand which is the real one, right?
For example, in the same case of CIAO there is a difference of 29 years between what one entry says and what the other says about the appearance date "appeared 2013" vs "appeared 1984".
There are other such discrepancies in the data.

[2022-09-30 13:56] breck7 opened #151 "Free ebooks page"
We should have a page with the best free computer science ebooks. Do we have that yet?

If not, here's one to add:

https://bertrandmeyer.com/2022/09/28/introduction-theory-programming-languages-full-book-now-freely-available/

[2022-09-30 14:58] celtic-coder commented on #151
Another computer science list:
https://github.com/EbookFoundation/free-programming-books/blob/main/books/free-programming-books-subjects.md#computer-science

[2022-09-30 15:07] rkimera94 commented on #151
very right @breck7  and @celtic-coder  let work on this

[2022-09-30 16:26] rkimera94 commented on #151
<img width="1390" alt="Screenshot 2022-09-30 at 19 24 10" src="https://user-images.githubusercontent.com/54355787/193314997-0b013e39-5580-4746-b471-8c3ad7cb854d.png">

@breck7  and @celtic-coder  would this be fine?

[2022-09-30 16:26] breck7 opened #152 "Add github workflow to run `npm run format` after each commit and have bot push format fixes if they were missing"
@marcelgerber you set that up for (https://github.com/owid/owid-grapher) right? Would you recommend that pattern?

[2022-09-30 16:31] breck7 opened #153 "Leverage Steampipe.io more for crawler scripts for importing data from other websites"
https://github.com/turbot/steampipe

[2022-09-30 16:32] breck7 commented on #151
@rkimera94 I wouldn't broaden it to "Resources". I would keep it very specific on ebooks. That way you can drop the type column. I would also add a Year column and column for Publisher and Country.

[2022-09-30 16:41] rkimera94 commented on #151
Okay let me keep it ebooks, @breck7  then rename author to publisher, then add the year column. thanks for the feedback.

[2022-09-30 17:12] adriantintpilver commented on #92
Question! In the event that we only find content in other languages and there is nothing in English?
This is the case of ALGOBOX, there is nothing in English, it is a French educational software and there is Wikipedia in French (https://fr.wikipedia.org/wiki/Algobox) and other pages in that language (https://www.xm1math.net/algobox/).

What do we do in these cases??
My proposal would be to transla

[2022-09-30 17:13] breck7 commented on #92
@adriantintpilver great question. maybe we can find someone who speaks french who could update that entry?

[2022-09-30 17:14] breck7 commented on #92
@Puumanamana could you take a glance at https://build.pldb.com/edit/algobox and see if we're missing anything important?

[2022-09-30 17:19] adriantintpilver commented on #92
I can do this translation there is no problem, I just wanted to validate if you thought I could do it.

[2022-09-30 17:21] breck7 commented on #92
got it @adriantintpilver ! there is no asking for permission here—only pull requests ;)

[2022-09-30 20:44] rkimera94 commented on #151
@breck7  I have made the changes on the ebook's list,  here is my [PR](https://github.com/breck7/pldb/pull/154).

[2022-09-30 21:55] celtic-coder opened #156 "cp -R Breaks the Windows Build"
Hi Breck (@breck7),

I've been experimenting today with the PLDB build on Windows. Since the build is Linux based, I had to put some workarounds in place to get the steps to work on my machine. They were as follows:

`npm install .`
`cd code`
`C:\pldb\node_modules\.bin\tsc.ps1`
`node .\SiteBuilder.js buildAll`

Note: I ignored the *chmod* commands in the **tsc** step as they do not apply on Window

[2022-09-30 22:46] celtic-coder opened #158 "test.js is failing on scrollFolders"
Hi Breck (@breck7),

**test.js** is failing:

![test-js-failure-message](https://user-images.githubusercontent.com/11787866/193365342-5c0c859e-e55e-4421-a645-e1fe1e81f7c5.png)

The error is:

`Command failed: git ls-tree -r main --name-only fatal: Not a valid object name main`

The relevant code is in [utils.ts: lines 202 to 209](https://github.com/breck7/pldb/blob/main/code/utils.ts#L202-L209).

[2022-09-30 22:59] breck7 opened #159 "In CSV docs, computed columns should link to the function in the File.ts file that computes them"
For example, the last column for `exampleCount`:
![Screen Shot 2022-09-30 at 12 58 13 PM](https://user-images.githubusercontent.com/74692/193367170-e59fc760-1fdf-4f1f-bf8e-4bbe19522f05.png)

should say `exampleCount()` and link to the following:

https://github.com/breck7/pldb/blob/97ef6c487a87ede910ffd252e5e97036ef53a9a9/code/File.ts#L204

[2022-09-30 23:00] breck7 commented on #159
Thanks to PV for bringing this up!

[2022-10-01 14:48] breck7 commented on #158
Interesting. Thanks for the report @celtic-coder ! Can you share environment information (OS, git version, node version, shell version, etc ?)

[2022-10-01 14:49] breck7 commented on #156
Let me look at refactoring the build. I'm not happy with its current implementation (pretty slow)

[2022-10-01 14:50] #151 closed

[2022-10-01 17:31] breck7 opened #161 "Improve Binary Notation page"
https://pldb.com/languages/binary-notation.html

[2022-10-01 22:25] celtic-coder commented on #158
Hi Breck (@breck7),

This is from the recent GitHub Action. Another example of a recent error is [Add `npm run format` to local build didTheTestsPass #274](https://github.com/breck7/pldb/actions/runs/3161936533/jobs/5148053470). The detail of the **build (14.x)** run, for example, is [here](https://pipelines.actions.githubusercontent.com/serviceHosts/4c161205-116c-407a-a9c5-0f9b58839a1c/_apis/pipe

[2022-10-01 22:26] lngns opened #162 "Conflicting Names"
I'd like to index [Kit](https://www.kitlang.org) but there is already [Kit](https://codekitapp.com/help/kit/) occupying that file.

[2022-10-01 22:30] lngns commented on #162
Ha it's already [there..](https://pldb.com/languages/kitlang.html).

[2022-10-01 22:30] #162 closed

[2022-10-02 12:08] SRS-WRKS opened #163 "database request key type alias or redirect"
The wikipedia page https://en.wikipedia.org/wiki/Coral_66 redirects to https://en.wikipedia.org/wiki/CORAL.

The closest way to have the same functionaltiy in pldb is to have a pldb file `database/things/coral.pldb ` with just the following entries :

`title coral-66`
`aka coral`
`related coral`

Would such a short file be acceptable ?

Otherwise the wikipedia and other references look out of plac

[2022-10-02 14:38] breck7 opened #164 "make search autocomplete <a tags>"
If these were a tags, then a user could right click them and open a bunch in new tabs:

![Screen Shot 2022-10-02 at 4 37 50 AM](https://user-images.githubusercontent.com/74692/193459837-146840d7-5742-462e-b2a6-2090a18925df.png)

[2022-10-02 14:39] breck7 commented on #163
Good question. @celtic-coder do you have an opinion on these kinds of situations?

[2022-10-02 17:19] breck7 commented on #158
Looks like the tests are passing now? I have not looked into this one yet. Closing now but if it keeps happening feel free to reopen

[2022-10-03 07:06] mahadwaseem123 commented on #159
Hi @breck7 , I will work on this.

[2022-10-03 07:18] mahadwaseem123 commented on #124
Hi @breck7 , can we close this issue?

[2022-10-03 10:20] mahadwaseem123 commented on #146
Hi @breck7 , may we add it to https://pldb.com/lists/lists.html in table entries with the name Language convertor?

[2022-10-03 15:37] breck7 commented on #124
ask for forgiveness @mahadwaseem123 , not permission ;)

[2022-10-03 16:29] breck7 opened #167 "add language"
https://github.com/bigyihsuan/EsotericReaction

[2022-10-03 18:06] breck7 commented on #117
Not yet @mahadwaseem123 ! But I am excited to. I have to think about it. Will get to it in a little bit after breakfast.

[2022-10-03 18:07] mahadwaseem123 commented on #124
Hi @breck7 sorry didn't get the previous comment, this issue is completed right?

[2022-10-03 18:09] mahadwaseem123 commented on #117
Ok sure @breck7 , let me know if you like it or also if you want any change.

[2022-10-03 19:25] celtic-coder commented on #124
Hi @mahadwaseem123,

I think what Breck (@breck7) wants us to do is to go ahead and make what changes  (including closing issues) that we think is necessary. No need to ask permission. He is trusting us to make the correct decisions.

Even if a mistake is made, it is not as if it will cause a huge customer impact or lose millions of dollars in revenue. Just admit to the mistake, learn from it and

[2022-10-03 20:56] #167 closed

[2022-10-03 20:56] breck7 commented on #167
https://github.com/breck7/pldb/commit/9d7fb07debff97f8702029fb25f6035a05c86396

[2022-10-03 23:35] celtic-coder commented on #158
Hi Breck (@breck7),

The test failed 3 hours ago in the [Add more programming language book publishers didTheTestsPass #323](https://github.com/breck7/pldb/actions/runs/3177358206) for the [build (15.x)](https://github.com/breck7/pldb/actions/runs/3177358206/jobs/5177703410) run. The details of the job run are [here](https://pipelines.actions.githubusercontent.com/serviceHosts/4c161205-116c-407a-a

[2022-10-04 10:22] mahadwaseem123 commented on #146
Hi @breck7 , any thoughts?

[2022-10-04 11:40] mahadwaseem123 commented on #159
Hi @breck7 , this is resolved in the above PR. Kindly have a look.

[2022-10-04 12:31] rkimera94 opened #176 "add new features to database"
@breck7   I am trying to add some new features to the list.

[REVIEW](https://github.com/breck7/pldb/pull/175)
And the number of entries on job sites

<img width="591" alt="Screenshot 2022-10-04 at 15 30 38" src="https://user-images.githubusercontent.com/54355787/193819838-79932807-43b4-44f7-a276-0aac34d19255.png">

[2022-10-04 12:37] rkimera94 commented on #176
@breck7  and @celtic-coder  I have added some feature kindly check for some suggestions

[2022-10-04 13:40] rkimera94 commented on #176
<img width="1003" alt="Screenshot 2022-10-04 at 15 52 07" src="https://user-images.githubusercontent.com/54355787/193834748-73d5b055-a1fe-42af-8493-1fdb65fe724d.png">

[2022-10-04 15:03] adriantintpilver opened #177 "how to run https://build.pldb.com/search in local PLDB project"
Talking to several of those who work on this project, no one has managed to run to locate the search part of the project that calls the SEARCH function (https://build.pldb.com/search).
The idea of this issue is to investigate how to do this and then make a documentation that allows everyone to run 100% of the project locally.
Additionally, it would be ideal to have this in a docker to make it even

[2022-10-04 16:20] #177 closed

[2022-10-04 16:22] breck7 commented on #177
Thanks very much for bringing this up @adriantintpilver !

I don't see us using docker as we like to run as close to the metal as possible but it's a good point that you brought up there.

[2022-10-04 17:49] mahadwaseem123 commented on #117
Hi @breck7 , this is now covered in another PR. #173

[2022-10-04 20:45] breck7 commented on #158
ahhhh sorry @celtic-coder i was very slow on the uptake with this one. okay we just can't hard code main in there ;)

[2022-10-04 20:48] breck7 commented on #158
the message here is PLDB is probably mature enough to stop committing directly to main.

[2022-10-04 21:02] #158 closed

[2022-10-04 21:02] breck7 commented on #158
Lots of things for me to learn from this one. Thank you @celtic-coder !

[2022-10-04 21:04] StuartDambi opened #179 "We should have the Grammar automatically detect/fix trailing spaces"

[2022-10-04 21:31] StuartDambi commented on #179
@breck7 , we could use the [pre-commit](https://pre-commit.com/) tool. I have tested it locally with some files and it works.
However, it goes ahead to clear all the white spaces (trailing) in the `Grammar` files and `pldb` files and this needs a really great review.

<img width="1108" alt="Screenshot 2022-10-05 at 00 30 48" src="https://user-images.githubusercontent.com/48904725/193934054-89ea872

[2022-10-04 23:37] celtic-coder commented on #158
Hey Breck (@breck7),

You are welcome!

Yes, I figured that this was an issue with a hardcoded value -- something to avoid when doing coding! 😄

Glad that it has sparked some fresh ideas for the future.

Kind Regards,
Liam

[2022-10-05 05:14] breck7 opened #181 "add instructions somehwere on how to use roapi with our dataset"
https://github.com/roapi/roapi

[2022-10-05 07:09] breck7 opened #182 "add language"
https://github.com/asdf-format/asdf

[2022-10-05 10:30] celtic-coder commented on #182
Thanks, Marcos (@wisentini)! 👍

[2022-10-05 10:30] #182 closed

[2022-10-05 10:57] mahadwaseem123 commented on #110
Hi @breck7 , we are now on 95%.
<img width="869" alt="Screenshot 2022-10-05 at 3 55 03 PM" src="https://user-images.githubusercontent.com/36690888/194044878-013d4c76-6ea9-459a-8f9b-51288515cf36.png">

[2022-10-05 13:20] celtic-coder commented on #110
Good work, @mahadwaseem123!

[2022-10-05 14:03] breck7 opened #184 "should we have a page with a list of college classes that teach programming language design?"
https://www.cs.umd.edu/class/fall2022/cmsc430/index.html

[2022-10-05 14:55] adriantintpilver opened #185 "How to run PLDB in a local environment"
I found a way to run locally in docker by adding the line:

"start": "site/index.html",

to the package.json.

But I understand that there has to be a way without doing this to run it.

It would be good to upload the instructions to this issue so that everyone can do it the right way. It could even be added to the project's main readme.md.

[2022-10-05 15:08] breck7 commented on #185
Good question @adriantintpilver!

2 ways:

1. Run `npm run build` then open `site/index.html`. This will just be the static site (search will not work).
2. Run `npm run local`. This will be the Express app running on localhost with search.

[2022-10-05 15:35] rkimera94 opened #187 "Add more upcoming conferences"
@breck7  I have added some upcoming  conferences  [PR](https://github.com/breck7/pldb/pull/186)

@breck7  Question: Would it be fine under lists also to introduce some of the platforms (like job sites)that have programming conferences and webinars for example Women who code, Geekle, https://dev.events/,https://datascience.conferenceseries.com/ and others? I think it can be helpful
They usually hav

[2022-10-05 16:18] adriantintpilver commented on #185
When testing npm run local, the /ignore directory of some lines of the package.json is giving me an error
I paste the error log:

--- log ---

# npm run local

node:internal/fs/utils:347
    throw err;
    ^

Error: ENOENT: no such file or directory, open '/app/pldb/ignore/buildServerLog.tree'
    at Object.openSync (node:fs:594:3)
    at Object.writeFileSync (node:fs:2207:35)
    at Function.Disk

[2022-10-05 16:28] breck7 opened #189 "First 'git pull' is painfully slow"
Probably b/c of the github.pldb.com branch?

[2022-10-05 16:31] #185 closed

[2022-10-05 16:32] breck7 commented on #185
Wow! Sorry about that. Thank you for the clear report @adriantintpilver ! I was able to reproduce and submitted a fix. Can you try again?

[2022-10-05 16:32] rkimera94 commented on #187
@breck7  I have added some conference sites
[PR](https://github.com/breck7/pldb/pull/190)

[2022-10-05 17:48] adriantintpilver commented on #185
You were the ONE!! now works!!! many thanks.
I am running this in a docker, here are the steps to put this to run in a docker:
later if you are interested you could make a docker compose image to make it even easier.

-------------------------------------------
-- Run PLDB in docker

docker run -it -d -v /c/AndelaWork/pldb:/app -p 4444:4444 --name pldbnode node:16 bash

-- into docker interactive

[2022-10-05 17:53] breck7 commented on #185
Wow very cool @adriantintpilver ! Can we add the docker instructions someplace in the docs? I will never use Docker as I spent my 20's mastering thousands of esoteric linux commands but there's no reason that other people must suffer like that if they prefer Docker ;)

[2022-10-05 19:34] mahadwaseem123 commented on #110
Hi @breck7 , updated PR for this issue is #191 . Kindly check

[2022-10-05 19:36] breck7 commented on #110
Great work @mahadwaseem123 !

[2022-10-05 19:51] mahadwaseem123 commented on #159
Hi @breck7 , this issue is fixed in #192 . Kindly check and let me know if you like it. As the changes were in csvImports.scroll file and it is in git ignore, I have to forcefully add the complete updated file. Let me know if we can use different approach here or if this is fine. Thank you.

[2022-10-05 20:01] mahadwaseem123 commented on #117
Hi @breck7 , this feature now points to PR #193. Kindly check and let me know if you like the enhancement.

[2022-10-05 20:09] mahadwaseem123 commented on #184
Good idea @breck7. May I work on it?

[2022-10-06 02:42] SRS-WRKS commented on #189
Trying to overhauling the repository as a relatively new contributor, is too risky for me :) #EYE_cantCompetewithBreck

[2022-10-06 06:08] whatrocks commented on #181
I think so. You can try it now by running this [REPL](https://replit.com/@whatrocks/pldb-roapi#README.md) and trying this curl command:

[code]

[2022-10-06 06:08] whatrocks commented on #181
<img width="1145" alt="Screen Shot 2022-10-05 at 11 08 20 PM" src="https://user-images.githubusercontent.com/482482/194227086-2bf0076e-fe46-4439-8282-6c43757f48a0.png">

[2022-10-06 18:26] adriantintpilver commented on #164
One thing remains pending in this issue, which is adding the "oncontextmenu='return false;'" to the body of the index.html. With this addition, the context menu is not shown directly. But I couldn't find where to put this in the index.scroll or others .scroll for when be generating the index.html, keep this code in the html body tag. I've been trying a lot but I didn't get it.
In any way, as it is

[2022-10-06 19:24] breck7 commented on #164
Thank you for the work @adriantintpilver ! This was actually a really hard one. Your work helped me figure it out. I'm pushing a commit now. There's still one minor bug maybe you can help me solve it.

[2022-10-06 19:25] #164 closed

[2022-10-06 19:32] breck7 commented on #164
Still a little messy. I have some cleanup to do.

[2022-10-06 19:34] breck7 opened #196 "Full text search URL is missing in autocomplete"
<img width="421" alt="Screen Shot 2022-10-06 at 12 34 11 PM" src="https://user-images.githubusercontent.com/74692/194402894-31282999-90e4-4823-8b1a-85c5c50ace70.png">

[2022-10-06 19:41] adriantintpilver commented on #196
I love these kinds of problems.
I take this

[2022-10-07 13:04] adriantintpilver commented on #196
Hi Breck,

I saw this, right now the search link works, whit any mouse button, and the links carry the search characters, and the search work fine.
Please tell me if you still see the error.

Thanks!
Regards!

[2022-10-07 14:11] mahadwaseem123 commented on #184
Hi @breck7 , did you get a chance to check it?

[2022-10-07 14:16] breck7 commented on #93
Oh @SRS-WRKS this is a great idea!

[2022-10-07 14:18] breck7 commented on #196
I am still seeing the error. It only happens when you hover over the "Full text search"
<img width="285" alt="Screen Shot 2022-10-07 at 7 17 34 AM" src="https://user-images.githubusercontent.com/74692/194575172-c6ffc1f6-cfe7-498e-9026-bb5bb82a038b.png">

[2022-10-07 21:07] rkimera94 commented on #148
hi @breck7  i have added indeed job numbers to some langs [PR](https://github.com/breck7/pldb/pull/198)

[2022-10-07 21:08] rkimera94 commented on #148
Kindly, review if I should proceed with all the other top 250 langs

[2022-10-08 06:43] SRS-WRKS commented on #88
Mostly handled in update e38d7a165d6d160ea8a5e05eff52d657978fffb3

[2022-10-08 06:43] #88 closed

[2022-10-08 17:55] breck7 opened #199 "build.pldb.com being blocked"
how is this even possible?

<img width="1223" alt="Screen Shot 2022-10-08 at 10 54 21 AM" src="https://user-images.githubusercontent.com/74692/194720937-e8f731ff-d525-4ccf-b67c-f7ababd7110a.png">

[2022-10-08 20:41] adriantintpilver commented on #196
Hi Breck,

Sorry for the mistake, you don't say you change the combo to <a tags, my bad.
Right now it is solved.

Thank you!
Regards

[2022-10-08 21:21] breck7 opened #200 "add more info to z shell"
is this the shell that ships on mac os x? if so, can someone fill in all the missing info

https://pldb.com/languages/z-shell.html

[2022-10-08 21:39] mahadwaseem123 commented on #121
Hi @breck7 , I want to try working on this issue but have some questions around it.

1-Can we use any external js library for advance search?
2-How much time may I spend on this feature?

Any suggestions will be really helpful for me.

[2022-10-08 21:47] breck7 commented on #121
Hi @mahadwaseem123 no I don't think we should use an external library.

I think we should study how VS Code and Sublime Text have advanced search, and just copy theirs. Basically probably just add Regex search and operators like OR/AND/ et cetera.

Spend as much time as you want. It's an interesting problem

[2022-10-08 21:50] mahadwaseem123 commented on #121
Thanks a lot @breck7 , I will work on this.

[2022-10-08 22:05] celtic-coder commented on #199
Hi Breck (@breck7),

This is indeed frustrating! 😢

Are you using a Cisco Meraki firewall? Then it is using an unusual port (8090), but this would be acceptable for a dedicated firewall, otherwise it might raise [suspicions](https://www.speedguide.net/port.php?port=8090).

Does the URL finish with something like `&blocked_categories=bc_057` as shown on [this](https://networkengineering.stackexchan

[2022-10-08 23:04] breck7 commented on #199
Wow thanks for the investigation @celtic-coder ! This was at a Starbucks in Orange Country. It was clearly my fault—I didn't notice I put in "http", which explains how they could have intercepted it. Thanks!

[2022-10-08 23:04] #199 closed

[2022-10-09 13:19] SRS-WRKS commented on #137
@breck7 : This could be a central feature to support multiple tables . Imagining multiple sortTable.txt files and multiple *db.json files being generated would be an awesome addition.

[2022-10-09 14:17] breck7 commented on #137
Yes.

I agree. Do you think it should be done using file extension? One extension per table?

[2022-10-09 17:16] SRS-WRKS commented on #137
@breck7 , thanks for the reply that too on a weekend. It means soo much :)

It depends on how you want to support other products and architecture along the same lines.

Supporting Berkeley DB (a flat file structure) would mean supporting things as diverse as openLDAP/Active directory as import/export options.  Support for SQL export already exists, if i am not mistaken.

But command line tools lik

[2022-10-09 18:00] breck7 opened #202 "add json->url"
https://en.wikipedia.org/wiki/JSON%E2%86%92URL

context https://www.reddit.com/r/ProgrammingLanguages/comments/xz8mg5/comment/irnta7s/?context=3

[2022-10-09 21:02] SRS-WRKS commented on #202
Added in commit  51590eeb2dc52039111e28acd6207a3bc0ffd087

[2022-10-09 21:02] #202 closed

[2022-10-10 11:20] mahadwaseem123 commented on #121
Hi @breck7 , I attached some screenshots for your reference.

[2022-10-10 12:46] SRS-WRKS commented on #184
Universities and colleges around the world vary in Naming convention. For example University of London has Member institutions (https://www.london.ac.uk/ways-study/study-campus-london/member-institutions) . while university of California has 9 campuses with distinct names (https://admission.universityofcalifornia.edu/campuses-majors/). How would the value of the key in pldb files look like, How ca

[2022-10-10 13:28] mahadwaseem123 commented on #184
Hi @SRS-WRKS , I used static webpage course links to sites which are teaching programming language designing. As you can see in my above PR but I don't know if it fulfilled the requirement.

[2022-10-10 13:30] mahadwaseem123 commented on #117
Hi @SRS-WRKS , can you have a look at above PR? I tried to implement what you were looking for.

[2022-10-10 13:35] SRS-WRKS commented on #117
@mahadwaseem123  You have to ask @breck7 , sometimes the response is slow because of work or other commitments/priorities.

[2022-10-10 13:38] SRS-WRKS commented on #184
You will have to ask @breck7 , sometimes the response is slow because of other work/commitments/priorities.
All i know is lists are usually generated using databases in this project.

[2022-10-10 13:44] mahadwaseem123 commented on #184
Yes @SRS-WRKS , totally understand.

[2022-10-10 13:44] marcelgerber commented on #152
Yes, it's working pretty nicely for us.
I don't know if it can run on external PRs, though.

[2022-10-10 19:59] mahadwaseem123 commented on #65
Hi @breck7 , I am going to work on this issue. Just one question:
As it seems we have to add docs link to language.scroll files too but as language.scroll files are in git ignore, so is this fine to forcefully add edited language.scroll files to git?

[2022-10-10 20:26] breck7 commented on #65
I'm sorry can you explain more? I'm not understanding.

[2022-10-10 20:30] breck7 commented on #65
`documentation` is just another field (a link to the documentation) just like `creators` or `appeared` or `title`.

[2022-10-10 20:33] mahadwaseem123 commented on #65
Got it @breck7 , thanks a lot for the explanation. Will work on this.

[2022-10-11 13:45] #200 closed

[2022-10-11 17:44] adriantintpilver commented on #129
Hi @rkimera94 , Running pldb in a docker (instructions for this way are in the principal readme), this error no be there and you can navigate BLOG normaly

[2022-10-11 18:28] mahadwaseem123 commented on #65
Hi @breck7 , added documentation keyword to top 25 languages. Here is the PR #209

[2022-10-11 19:34] mahadwaseem123 opened #210 "Add multiple documentation keyword support"
There can be multiple docs of a single language and PLDB should support multiple docs.

[2022-10-11 19:39] mahadwaseem123 commented on #196
Hi @breck7 , is this issue fixed or may I work on it?

[2022-10-11 20:26] adriantintpilver commented on #196
Hi @mahadwaseem123 this bug y fixed in the las commit. Thanks

[2022-10-12 00:45] lngns opened #211 "domainName node for defunct then revived domains"
When editing enso-lang.pldb, I noticed it documented a 2022 registration for enso-lang.org, despite it being a re-registration, the first being in 2011 and actually related to the language.
When it comes to such archival, how do we deal with that?

[2022-10-12 10:59] SRS-WRKS commented on #92
database/things/dad.pldb:
reference link https://sourceforge.net/projects/dadlang/ seems to refer to a C Sharp project while https://hopl.info/showlanguage.prx?exp=1945 talks about an ada dialect.

[2022-10-12 14:13] adriantintpilver commented on #211
Hi @lngns !

I see we have a duplicated enso (enso-lang.pldb and enso.pldb) . I think it is necessary to merge two files in one only file.

About the date, i see reference in diferente articles in internet the registered year is --> 2001

I am going to do the unification in one file.

[2022-10-12 14:41] lngns commented on #211
@adriantintpilver
Those are two different languages, one is from 2011 and the other from 2017 after a name change from Luna.

You'll also see we have 3 indexed languages called 'Broccoli' lol.

[2022-10-12 14:57] adriantintpilver commented on #211
i see this. are very similar really. Is really confused have different languages with the same name.

May be is posible put the year in the name, become enso_2011 and enso_2017, and use this semantics for each case of equal names, and this way we differentiate one from the other.

i see the brocolis things, is funny and madness :D

[2022-10-12 15:26] adriantintpilver commented on #92
Hi @SRS-WRKS ,
I see that and the information en dad.pldb is very scarce, but the language would seem real I found this --> https://www.proyectum.com/sistema/blog/disciplined-agile-delivery-dad/

I think you are right about dark basic, it sounds like a duplicate.

y go to fix this two things

[2022-10-12 19:00] mahadwaseem123 commented on #210
Hi @breck7 , I enabled multiple documentation support. Here is the PR #214

[2022-10-13 07:19] rkimera94 commented on #129
Thanks, @adriantintpilver  let me check it out

[2022-10-13 18:23] SRS-WRKS commented on #211
@lngns @adriantintpilver , a link to archive.org, if it exists !!!
Registrars and archive.org don't delete things, just like big tech :)

An archive.org link if it exists or a link to domain name registrar. referential integrity to databases is always important apparently

[2022-10-14 12:57] rkimera94 opened #218 "Add search to Lanagues tab(Top 500 programming languages)"
<img width="917" alt="Screenshot 2022-10-14 at 11 22 07" src="https://user-images.githubusercontent.com/54355787/195852137-e41ffe32-ba42-4ecd-b33a-01837fafd64a.png">

@breck7  Trying to work on a search for the list of programming languages.
 Inquiry: How to fix the position of the search to appear on top of the table list?

[2022-10-14 13:08] breck7 commented on #218
Wow weird! Thank you for bringing this to my attention @rkimera94 !

This page did not used to look like this. Even now it seems to look find in Safari but broken in Chrome:
<img width="1353" alt="Screen Shot 2022-10-14 at 6 07 09 AM" src="https://user-images.githubusercontent.com/74692/195854600-0affc7f8-790b-4094-be75-e58104a71bcc.png">

Anyone know what's going on? Maybe something in Chrome's C

[2022-10-14 13:19] rkimera94 commented on #218
![Uploading Screenshot 2022-10-14 at 16.17.21.png…]()
yes, you are right @breck7. With Safari, it works fine.

[2022-10-14 13:37] breck7 opened #219 "add language: https://github.com/mark-summerfield/uxf"

[2022-10-14 14:36] SRS-WRKS opened #220 "What is the purpose of pldb grammer files having key featureKeyword"
pldb web site has both lists but keys like featureKeyword exist (which is like tags for data base table entries) .

This seems redundant or is is purposely designed for something like search with tag like support

[2022-10-14 15:37] SRS-WRKS commented on #219
Done.

[2022-10-14 15:37] #219 closed

[2022-10-14 16:32] breck7 opened #221 "add language: https://github.com/tlocke/zish"

[2022-10-14 19:06] adriantintpilver commented on #221
Done, added to database

[2022-10-14 19:35] breck7 commented on #221
I don't see it @adriantintpilver . Did you send a pull request?

[2022-10-14 19:48] mahadwaseem123 commented on #65
Hi @breck7 , now top 100 languages have the documentation keyword.

[2022-10-14 21:19] adriantintpilver commented on #221
strange, I did it... but I think that when putting the URL of another github repo in the commit sumary something went wrong whit the link here.

[2022-10-14 21:22] adriantintpilver commented on #221
The commit is here --> https://github.com/adriantintpilver/pldb/commit/f404e0160c4f9f197ee8dc510b70b392a88c9a7d

[2022-10-15 01:08] SRS-WRKS opened #223 "Feature Request: REPL environment and cli tools for pldb grammer"
scroll has a nice repl envirnoment https://try.scroll.pub/, pldb grammar/treebase notation should have the same too !!

also scroll has cli tools, pldb treebase notation does not seem to have the same.

[2022-10-15 02:08] SRS-WRKS commented on #121
related issue ?
https://github.com/breck7/pldb/issues/220

Should certain keys like compilesTo and featureKeyword be treated specially they could to act like tags for searching and enhance the end user experience.

[2022-10-15 11:24] SRS-WRKS commented on #210
Reference in commit f38a41fa59920ddacacc20809fbe2006f92b4b8f and seemed to be accepted should this be closed ?

[2022-10-15 11:25] SRS-WRKS commented on #161
Are more details required ??

[2022-10-15 11:28] SRS-WRKS commented on #140
An accepted patch in commit d0e88b9a9eca14008e0f91448c5d427cb1cd7c1a

exists for this issue

[2022-10-15 11:44] mahadwaseem123 commented on #210
Yes @SRS-WRKS right. I guess I don't have github permissions to close an issue as I can not see any option at my end. I have rights to open an issue but can't see any option to close an issue. If you have, you can close this issue.

[2022-10-15 11:59] SRS-WRKS commented on #210
@mahadwaseem123 Thank you for the update.

@breck7 Can this issue be closed ?? Seems to be done

[2022-10-15 12:03] SRS-WRKS commented on #189
Duplicate of Issue #75

[2022-10-15 13:28] breck7 commented on #223
Hi @SRS-WRKS we have this: https://jtree.treenotation.org/designer#url%20https://pldb.com/pldb.grammar

Did I not add a link to that anywhere? Sorry if not!

I also have a branch refactoring that Designer app as it wasn't engineered great but just sort of evolved organically.

[2022-10-15 13:29] breck7 commented on #223
If there's not a link to that anywhere in the readme or docs, would you mind adding one?

[2022-10-15 13:32] breck7 commented on #161
@SRS-WRKS  It's just a clear code smell that binary notation (the mother of all computer languages) is ranked in the 700's. It should probably be ranked number 1. Which means we are missing a lot of data on it. A lot of links, information about papers, books, what langs influenced it and it influenced, etc

[2022-10-15 13:33] breck7 commented on #161
When binary notation is ranked number one (or at least very close to number one), then we will know we have built a good site ;)

[2022-10-15 13:34] breck7 commented on #140
It still appears wrong though (see below). Maybe I'm not understanding something or someone could ping @Github?

<img width="355" alt="Screen Shot 2022-10-15 at 6 34 11 AM" src="https://user-images.githubusercontent.com/74692/195989234-e337fcd5-5135-4654-a633-b9750ffedf47.png">

[2022-10-15 13:36] breck7 commented on #210
@mahadwaseem123 you should be able to close issues now. thanks for letting me know.

[2022-10-15 13:55] SRS-WRKS commented on #210
@breck7 Thanks for clarification. Closed.

[2022-10-15 13:55] #210 closed

[2022-10-15 13:57] SRS-WRKS commented on #223
@breck7 Sure thing, ill add it. But where should i add it ? To jtree repo README ??

[2022-10-15 14:06] breck7 commented on #223
Where would you expect it to be @SRS-WRKS ?

[2022-10-15 14:17] SRS-WRKS commented on #223
Link https://jtree.treenotation.org/designer#url%20https://pldb.com/pldb.grammar , In the readme of jtree .

A separate file mentioning list of DSL as a  seperate file in jtree where there is mention of cli tools, repl environment, etc for each DSL included as part of readme of jtree

[2022-10-16 01:57] SRS-WRKS commented on #223
@breck7 jtree.treenotation.org/designer lists many example languages , all the languages have readmes but none of the readmes require a link to the example language repository. or at the very least a referenceURL for explaining grammar and a watchURL for latest version information.

some of the example languages repository has been deleted..

Also an ability to load grammar using upload button wou

[2022-10-16 05:00] SRS-WRKS commented on #135
Answered.

[2022-10-16 05:00] #135 closed

[2022-10-16 05:01] SRS-WRKS commented on #123
Fixed.

[2022-10-16 05:01] #123 closed

[2022-10-16 05:02] SRS-WRKS commented on #221
@breck7 : was this added, should i close this issue ?

[2022-10-16 05:03] SRS-WRKS commented on #129
@rkimera94   Is this issue solved ?

[2022-10-16 05:07] SRS-WRKS commented on #223
Continued in https://github.com/breck7/jtree/issues/159

[2022-10-16 05:07] #223 closed

[2022-10-16 10:38] SRS-WRKS opened #226 "Suboptimal rendering/presentation of https://pldb.com/languages/grammar.html"
I am not a web dev ninja. May be someone can look into it and see if its worth lookin into ?

[2022-10-16 10:40] SRS-WRKS commented on #226
[https://ibb.co/8z2s401](url)

[2022-10-16 12:42] breck7 opened #227 "add magit"
https://magit.vc/

[2022-10-16 12:46] rkimera94 commented on #227
@breck7 let me work on it

[2022-10-16 13:48] rkimera94 commented on #227
@breck7  PR ](https://github.com/breck7/pldb/pull/228)

[2022-10-16 14:10] #227 closed

[2022-10-16 15:25] celtic-coder commented on #221
I created and merged a PR, as noted above. Thanks Adrian (@adriantintpilver) for your commit - https://github.com/adriantintpilver/pldb/commit/f404e0160c4f9f197ee8dc510b70b392a88c9a7d!

[2022-10-16 15:25] #221 closed

[2022-10-16 16:44] celtic-coder opened #230 "Workflow job failure - permalink?"
Hi Breck (@breck7),

I was comparing the successful *didTheTestsPass* workflow for your "[./code/crawlers/github.com/GitHub.js fetchAllRepoData;](https://github.com/breck7/pldb/actions/runs/3259809055)" job and the failed [Add zish.pldb (#229)](https://github.com/breck7/pldb/actions/runs/3259959610) that I recently submitted.

The first job ([detail](https://pipelines.actions.githubusercontent.com

[2022-10-16 17:33] breck7 commented on #230
Sorry about this @celtic-coder! The editor at https://build.pldb.com/edit/zish should show all of these errors (and I hope in the future we'll have integration for Sublime Text, vim, emacs, VS Code, et cetera). The infrastructure is all there just haven't wired up the UI yet.

[2022-10-16 18:18] celtic-coder commented on #230
Hey Breck (@breck7), you don't have to be sorry! These issues will get ironed out in time. Looking forward to the new functionality when it can be sorted out. Thanks for all your efforts! 👍

[2022-10-16 18:18] #230 closed

[2022-10-17 06:28] StuartDambi commented on #140
@breck7, let me get onto this.

[2022-10-17 10:01] #124 closed

[2022-10-17 10:44] celtic-coder commented on #124
👍

[2022-10-17 14:16] StuartDambi commented on #140
Hello @breck7, I have made some extensive research about this topic and here is what I found.
Github uses an open-source tool Linguist to provide language detection support on GitHub:

[github/linguist](https://github.com/github/linguist)

Before perform syntax highlighting is performed for a language, it needs to have an open-source Textmate-style language grammar. These grammars also provide syn

[2022-10-17 14:27] SRS-WRKS commented on #140
@StuartDambi Wow, extensive :)

Please look at https://github.com/breck7/scroll (scrolls project page). Please ask @breck7 before proceeding.

Best wishes and amazing work.

[2022-10-17 14:35] breck7 commented on #140
Amazing work @StuartDambi !

Unfortunately I have tried and failed miserably to make textmate-style language grammars for Tree Languages (https://github.com/breck7/lime and https://github.com/breck7/jtree/blob/7a5883dc64fa3646db937f96a0189a40af9d860d/core/GrammarLanguage.ts#L2735)

I think it may have something to do with some theoretical result in computer science related to "Context Free Grammar

[2022-10-17 16:41] StuartDambi commented on #140
@breck7 , let me take a look into making integrations for VSCode.

[2022-10-17 18:14] adriantintpilver commented on #94
Hello,

Can you see this fix? do you like me?
I see you haven't taken this change yet for the main. Could it be that you think about this in another way? Please tell me your opinion about it, so I can improve it as you see fit.

Thanks.
Regards!

[2022-10-17 18:26] StuartDambi commented on #140
Thanks @SRS-WRKS , I will be looking at these resources closely.

[2022-10-18 01:24] SRS-WRKS commented on #140
Its mostly inspired by @breck7 work on pldb.
HAML has inspired treenotation . Curretly pldb does grammar check tests and database validation tests separately :)

[2022-10-18 06:18] SRS-WRKS commented on #226
May be its a non issue ?

[2022-10-18 06:18] #226 closed

[2022-10-18 06:24] SRS-WRKS commented on #220
Possible Duplicate of Issue #39. And Issue #79.

[2022-10-18 06:24] #220 closed

[2022-10-18 15:35] martin12333 commented on #140
Re: textmate-style language grammars for Tree Languages

... what about making **very rough** textmate grammars

* e.g. for \*.gram\* files, highlight words like `\w*Cell` , `javascript`, `{`, `}`
* by the way, I use the textmate grammar for *.js ... for highlighting of Tree Languages (in vscode)

[2022-10-18 21:25] SRS-WRKS commented on #140
Yes, although i am not an expert, i feel the need to interact.
Its usually a bad idea, but i will try.

HAML, which inspired text bundle has textmate support. LISP and github seemed to have gotten along for the most part.

Can something really be just a text file and support various third party tools without even using something like fuse (https://www.kernel.org/doc/html/latest/filesystems/fuse.ht

[2022-10-18 23:42] #111 closed

[2022-10-19 13:20] mahadwaseem123 commented on #161
Hi @breck7 , I have got your point. I added an example, book and publication as an improvement starting point. Will be adding more things in next PR's.

[2022-10-19 15:04] martin12333 commented on #140
sounds interesting, but i am not sure i understand

can you give an example of the text file?

could this topic belong to https://github.com/breck7/jtree/discussions ?

[2022-10-19 17:56] SRS-WRKS commented on #140
Firstly thank you for being welcoming to non experts.

No one really reads/responds to  https://github.com/breck7/jtree/discussions or the metrics is not visible.

Youtube hides dislike statics/ git hub hides views metrics.
PLDB is an open publishing platform, right , working with pre selected metrics is a nightmare.

Open source has disadvantages probably with support and metrics. Who could have

[2022-10-19 18:00] SRS-WRKS commented on #54
@breck7 , I can help if someone teaches me how to write treenotation grammar :)

[2022-10-19 18:07] breck7 commented on #140
@SRS-WRKS I will respond more later but great point about GitHub and making stats public. Maybe we can ask them to make all our stats public.

[2022-10-19 18:07] breck7 commented on #54
Okay let's do a live coding session soon on Twitch.

[2022-10-19 18:23] SRS-WRKS commented on #54
Or we could do a screencast of issues like

-  https://github.com/breck7/pldb/issues/15
- https://github.com/breck7/jtree/issues/87
-  https://devblogs.microsoft.com/oldnewthing/

??

Because your expectations for the screencast might not fit into my/viewers skill set ??

live coding sessions and pair programming requires being able to ask you good questions :)

[2022-10-19 18:38] SRS-WRKS opened #239 "Should database/sortTemplate.txt support database nodes rename, addition and deletion information"
https://peps.python.org/ has information about addition or deletion or rename information

` npm run format

Running formatDatabaseCommand:
sortTemplate is missing "summary"
sortTemplate is missing "summary"
sortTemplate is missing "summary"
`

It could be as simple as logging git diff HEAD HEAD~5 database/sortTemplate.txt for every change to the file.

[2022-10-19 19:12] breck7 commented on #54
Okay I'll do a screencast.

[2022-10-19 19:24] breck7 commented on #54
Okay part 1 of screencast:

https://www.youtube.com/watch?v=D-hn3nrLTh4

[2022-10-19 19:39] breck7 commented on #54
Part 2 of 2: https://www.youtube.com/watch?v=KQJN0xeV-1Y

[2022-10-20 10:28] rkimera94 commented on #129
I used  scroll-CLI compile:
 I ran this command `root_dir/pldb_dir/node_modules/scroll-cli/scroll.js build`  in the posts directory pointing to the scroll-cli compile.

[2022-10-20 10:29] rkimera94 commented on #129
@SRS-WRKS @adriantintpilver  the issue is solved I can now access the blog sites. Thanks

[2022-10-20 10:55] SRS-WRKS commented on #129
@rkimera94 Closed as requested.

[2022-10-20 10:55] #129 closed

[2022-10-20 14:16] breck7 commented on #239
I don't think we have a keyword 'summary'.

[2022-10-20 20:19] SRS-WRKS commented on #239
Thank you for replying, most projects don't.

Sorry,
- firstly i am learning:
-  this was about the lack of changelogs for sortTemplate.txt , with inspiration from  https://en.wikipedia.org/wiki/Changelog and https://keepachangelog.com/en/1.0.0/
A lot of things are nice.
The lack of version information, selective field selection ,etc could hamper people using this nice technology.

[2022-10-21 12:45] SRS-WRKS opened #243 "pldb grammer uncaught issue summary"
The issue was caught thanks to warnings issued by npm run format command.
Commit 910590ddbc585e3d121e3c6b3b47ea663ac2a2e7 Gives the diff that causes summary to be accepted as valid node even without the presence of wikipedia node.

Both grammer pass test and database integrity test in npm run test did not seem to catch this issue and was visible only because of warnings by npm run format command.

[2022-10-21 18:05] mahadwaseem123 commented on #218
Hi @breck7 @rkimera94 , I have added the search bar. It is on correct place now.
<img width="805" alt="Screenshot 2022-10-21 at 10 55 13 PM" src="https://user-images.githubusercontent.com/36690888/197260737-97a6f414-7804-4253-b397-d603f4e57256.png">

[2022-10-21 22:28] breck7 opened #246 "add https://hurl.dev/"

[2022-10-21 22:54] breck7 opened #247 "should we have a field like 'annualReport`?"
for example, for CSS we might have:

[code]

[2022-10-22 02:37] SRS-WRKS commented on #246
I am on it

[2022-10-22 03:44] SRS-WRKS commented on #246
Done

[2022-10-22 03:44] #246 closed

[2022-10-22 06:33] SRS-WRKS commented on #239
Closed as it would be moved to discussion

[2022-10-22 06:33] #239 closed

[2022-10-22 07:11] celtic-coder commented on #246
Very comprehensive, Hari (@SRS-WRKS)! Good work! 👍

[2022-10-22 15:53] breck7 opened #248 "add https://aretext.org/"

[2022-10-22 23:36] #243 closed

[2022-10-22 23:37] breck7 commented on #196
Not fixed. Still happens.

[2022-10-23 04:37] SRS-WRKS commented on #248
I am on it

[2022-10-23 05:39] SRS-WRKS commented on #248
Done and closed.

[2022-10-23 05:39] #248 closed

[2022-10-23 05:49] SRS-WRKS opened #249 "pldb build system compilation stop during error and error codes"
The pldb build system does not stop compilation in case of typescript errors but does stop compilation in case of some grammar key related issues (currently know include writtenIn and related keys).

The error codes of such commands also seem to be unreliable indicator or build success.

[2022-10-23 12:01] breck7 opened #250 "add `emailList` field?"
https://github.com/breck7/pldb/commit/c1590cef8b623ecbde8fbdfb7736bdb4144e797c#r87637513

[2022-10-23 12:01] breck7 commented on #250
lots of these languages have email lists and thats how many of them started. we should probably record that.

[2022-10-23 13:05] adriantintpilver commented on #196
Hi Breck,

This is fixed in the las commit but, that commit is very dirty. Rigth now clenan that and do a new pull request with this fix.
Please check and tell me.

Thanks a lot.
Regards.

[2022-10-23 14:43] breck7 commented on #249
okay these are good points. we can improve. thanks @SRS-WRKS !

[2022-10-23 19:22] #218 closed

[2022-10-24 04:11] SRS-WRKS commented on #249
@breck7 Do you want to assign this to someone (may the suggester :) )  ??

[2022-10-24 16:01] breck7 opened #257 "Creators page should have links to Creator's homepage, github, twitter, and wikipedia page (if any/all of those are available)"
https://pldb.com/lists/creators.html

[2022-10-24 19:06] SRS-WRKS commented on #257
@breck7 : creators.tree then should have grammar supporting homepage, github, twitter, and wikipedia page and the scroll view page should support multi link support for the same. How can someone new to the project achieve the same ??

[2022-10-25 06:20] rkimera94 commented on #247
@breck7  Great idea!
how about just indicating the sites where the annual reports/surveys can be found for the different software survey platforms

for example [stateofjs](https://stateofjs.com/en-us/)  it has js, CSS, Graphql

python: https://www.python.org/psf-landing/

There someone can pick interest in the different reports say 2022,2021 for a survey comparison

[2022-10-25 13:06] breck7 opened #259 "improve kotlin page"
any info from here we can add?

https://engineering.fb.com/2022/10/24/android/android-java-kotlin-migration/

[2022-10-25 13:45] rkimera94 commented on #247
I am working on this

[2022-10-25 19:23] rkimera94 commented on #247
hi Breck @breck7  trying to work on this issue
Kindly review if am on the right direction
[PR](https://github.com/breck7/pldb/pull/260)

[2022-10-26 06:55] #184 closed

[2022-10-26 13:54] #196 closed

[2022-10-26 19:27] StuartDambi commented on #140
Hello @breck7, I am close to having something with regards to creating a Vscode extension to offer support for the scroll. I would still a lot of assistance with keywords that I could have missed.
Also, could you kindly create a repository where I can push the code so you and colleagues can take a look and offer support as required.
Thanks.

[2022-10-26 19:40] breck7 commented on #140
Hi @StuartDambi you can create the repo on your account. Doesn't need to be under mine!

[2022-10-27 10:05] rkimera94 commented on #247
@breck7   I have made some changes, ready for review! I have introduced 4 classes through the annualReports key.
[PR for review ](https://github.com/breck7/pldb/pull/264)

The classes:
eventsPageUrl
releaseNotesUrl
officialBlogUrl
annualReportUrl
Which should be specified for the URL type/page type

[2022-10-27 10:29] rkimera94 commented on #247
Still failing some tests! which i need to check

[2022-10-27 15:21] mahadwaseem123 commented on #250
Sure @breck7 , will be working on this.

[2022-10-28 13:33] breck7 opened #266 "make sure the intermediate Scroll generated by build script is clean"
Just introduced a new bug with the latest scroll:

<img width="1202" alt="Screen Shot 2022-10-28 at 6 32 35 AM" src="https://user-images.githubusercontent.com/74692/198613318-bf9849f7-fc15-47c5-a351-194917b55e2d.png">

The root problem is we haven't made sure those intermediate scroll files are clean. Will do that now.

[2022-10-28 13:46] #266 closed

[2022-10-28 14:00] breck7 opened #267 "Getting reports that search is broken"
Can someone look into it?

[2022-10-29 12:38] samsonlawal commented on #267
It's not broken. It works just fine.

[2022-10-30 13:23] breck7 opened #272 "add language"
https://beyondloom.com/decker/lil.html

[2022-10-30 16:14] #100 closed

[2022-10-31 12:48] rkimera94 commented on #272
let me work on this @breck7

[2022-10-31 14:39] breck7 opened #277 "add protocol Homa"
https://web.stanford.edu/~ouster/cgi-bin/papers/replaceTcp.pdf

[2022-10-31 21:49] breck7 opened #278 "add language"
https://github.com/japiirainen/fp

[2022-10-31 23:44] hassamalhajaji commented on #278
I'm on it!

[2022-11-04 18:20] mahadwaseem123 commented on #54
Hi @breck7 , its done

[2022-11-04 18:31] rkimera94 commented on #272
@breck7  Is this issue still open? any pending feature to be added

[2022-11-04 20:24] breck7 commented on #272
if you added it you can close the issue @rkimera94  :)

[2022-11-04 20:25] breck7 commented on #272
ah sorry my fault! just gave you close issues privileges @rkimera94 !

[2022-11-04 21:32] #272 closed

[2022-11-04 21:33] rkimera94 commented on #272
issue closed because lil was added to the database

[2022-11-05 11:14] rkimera94 commented on #272
thanks for the invite @breck7

[2022-11-05 20:32] breck7 opened #287 "good article with good data for us"
https://web.archive.org/web/20220331041830/https://aspire.eecs.berkeley.edu/2017/06/how-close-is-risc-v-to-risc-i/

[2022-11-07 11:41] SRS-WRKS commented on #277
I will work on this.

[2022-11-07 11:43] SRS-WRKS commented on #278
Is it done ??

[2022-11-07 12:08] SRS-WRKS commented on #189
@breck7 : The issue seems to be https://stackoverflow.com/questions/11050265/remove-large-pack-file-created-by-git

The culprit file seems to be .git/objects/pack/pack-b111d543e833814c47944a85bce47cd1221e870e.pack

[2022-11-07 18:05] SRS-WRKS commented on #189
@breck7 : The following commands should have worked. It does decrease the time required to download, in local test.
Note: test conducted on git version 2.30
The following commands were executed.
`git filter-branch --index-filter 'git rm -r --cached --ignore-unmatch pack-b111d543e833814c47944a85bce47cd1221e870e.pack' --prune-empty
 git for-each-ref --format='delete %(refname)' refs/original | git u

[2022-11-07 18:08] celtic-coder commented on #189
Very good research Hari (@SRS-WRKS)! Well done! 👍

[2022-11-07 18:15] SRS-WRKS commented on #278
I will close it, then.

[2022-11-07 18:15] #278 closed

[2022-11-07 19:00] SRS-WRKS commented on #189
The best results seem to come from the following, pereodic purgin of github.pldb.com branch

` git push origin --delete github.pldb.com

 git branch --delete origin/github.pldb.com

git branch --delete github.pldb.com

git branch --delete --remotes origin/github.pldb.com

git fetch origin --prune

git filter-branch --index-filter 'git rm -r --cached --ignore-unmatch pack-0f5756d5527ecda27b539906a9

[2022-11-08 00:52] breck7 opened #294 "add lang"
https://discourse.llvm.org/t/rfc-mdl-a-micro-architecture-description-language-for-llvm/66409

[2022-11-08 04:01] breck7 commented on #189
Great research @SRS-WRKS ! I'm going to sleep on this one.

[2022-11-08 05:28] SRS-WRKS commented on #294
I am on it.

[2022-11-08 06:40] SRS-WRKS opened #295 "A valid working non empty code/crawlers/github.com/ignore/creds.json"
How can one create a valid working non empty `code/crawlers/github.com/ignore/creds.json`
 that  does not print warning
`No GitHub token found`

[2022-11-08 07:17] #294 closed

[2022-11-08 09:38] #277 closed

[2022-11-08 10:15] SRS-WRKS commented on #163
Can a pldb file exist with the following name in database ??

`title Foo
aka Bar`

If so, this issue could be closed.

[2022-11-08 21:13] breck7 opened #296 "add language"
https://github.com/vmware/differential-datalog

[2022-11-09 02:25] breck7 opened #297 "add lang https://en.wikipedia.org/wiki/ISO_8601"

[2022-11-09 07:21] SRS-WRKS commented on #296
I am on this.

[2022-11-09 07:22] SRS-WRKS commented on #297
I am on this.

[2022-11-09 08:46] SRS-WRKS opened #298 "database key writtenIn and database key title values could conflict"
database key writtenIn seems to accept space separated values of while the key title allows space to be included as value for individual entries. This could lead to conflicts.

[2022-11-09 09:00] #297 closed

[2022-11-09 09:01] #296 closed

[2022-11-09 20:46] breck7 opened #300 "add rosetta (interpeter)"
https://dougallj.wordpress.com/2022/11/09/why-is-rosetta-2-fast/

[2022-11-10 19:24] adriantintpilver commented on #267
Hello @breck7,
Can you put the link, that you see broken here, for lighting the way for us?
Thanks!

[2022-11-11 12:34] adriantintpilver commented on #300
added this language whit this PR --> https://github.com/breck7/pldb/pull/304

[2022-11-11 16:51] breck7 opened #305 "add language"
https://docs.racket-lang.org/zuo/index.html

[2022-11-11 16:52] breck7 commented on #300
you should be able to close issues now @adriantintpilver !

[2022-11-11 17:52] adriantintpilver commented on #300
Thanks for the trust!! i close this issue right now!! :D

[2022-11-11 17:52] #300 closed

[2022-11-11 17:55] breck7 opened #306 "add esolang"
https://pksunkara.com/semicolon/
https://esolangs.org/wiki/Semicolon

[2022-11-11 20:37] mahadwaseem123 opened #307 "Error while building project"
Hi @breck7 , today after pulling latest changes, npm run build is getting failed and giving this error:
<img width="913" alt="Screenshot 2022-11-12 at 1 34 44 AM" src="https://user-images.githubusercontent.com/36690888/201427182-0375500f-2884-4aaf-90fa-d01fbfbb977d.png">
Do you have any idea about this?

[2022-11-11 20:43] breck7 commented on #307
Should be fixed. Try pulling the latest.

[2022-11-11 20:58] mahadwaseem123 commented on #307
Fixed @breck7 , thanks a lot.

[2022-11-11 20:58] #307 closed

[2022-11-12 05:41] SRS-WRKS commented on #305
I am on it.

[2022-11-12 05:41] SRS-WRKS commented on #306
I am on it.

[2022-11-12 07:40] #306 closed

[2022-11-12 07:40] #305 closed

[2022-11-12 08:03] SRS-WRKS commented on #295
Read file `code/crawlers/github.com/readme.md`

Read article https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token

Run commands:
`mkdir code/crawlers/github.com/ignore/

echo  \'{"apiToken":"TEST-TOKEN","apiUser":"TEST-USER"}\'
`

[2022-11-12 14:29] breck7 opened #310 "Can someone else setup a mirror that auto deploys when we git push?"
I am going to nuke the github branch to fix https://github.com/breck7/pldb/issues/189.

But that means we have no auto mirror setup when someone git pushes. Can someone setup their own repo and get that going? We can then link to that one.

[2022-11-12 14:36] breck7 commented on #75
Closing this in favor of the other one and https://github.com/breck7/pldb/issues/310

[2022-11-12 14:36] #75 closed

[2022-11-12 14:39] breck7 commented on #189
Yikes! 191 seconds for a fresh git pull. Should be >10x faster.

<img width="672" alt="Screen Shot 2022-11-12 at 6 38 03 AM" src="https://user-images.githubusercontent.com/74692/201479233-f2d23aba-cca1-47f4-b764-0f129ba29cc2.png">

Going to follow your leads now @SRS-WRKS .

[2022-11-12 14:43] breck7 commented on #189
Ah well I am on a relatively slow Internet connection right now! Thats why mine took so long (I just deleted the github.pldb.com branch, so we should avoid those problems now).

Just tried on a fast cloud machine and got 4 seconds for the first pull! Case closed. Thanks @SRS-WRKS !

<img width="521" alt="Screen Shot 2022-11-12 at 6 42 49 AM" src="https://user-images.githubusercontent.com/74692/201

[2022-11-12 14:43] #189 closed

[2022-11-12 14:44] breck7 commented on #298
`writtenIn` should be the permalink (the filename without the extension), not the title.

[2022-11-12 14:46] breck7 commented on #295
Great work @SRS-WRKS ! Sorry for the lack of docs. Just added this to the readme in that folder

[2022-11-12 14:48] #295 closed

[2022-11-12 17:05] breck7 commented on #267
There were a lot of subtle bugs. Seem to be mostly fixed now. Thanks!!

[2022-11-12 17:05] #267 closed

[2022-11-13 05:54] SRS-WRKS commented on #298
I will updated my documentation ( I will give you the link, once it is in a readable state).

Yes but still, valid file names can contain spaces.

you might not use spaces in filenames, but people still get confused.

[2022-11-13 06:13] SRS-WRKS commented on #310
@breck7 :

It would be better if you used cloud bucket storage or git large file storage (https://git-lfs.github.com/).

It could either be output of command `git archive` ( open source projects of yester years still release tarballs :) )

or you could use github api to check the latest commits that passed the test and get their zip file archives using github api.

But the build system does not se

[2022-11-13 06:16] SRS-WRKS commented on #310
You also allow people to edit the project anonymously. People possibly injecting malicious entries is also a security risk.

[2022-11-13 06:51] SRS-WRKS commented on #310
A few related build system issues that would need attention even before attempting auto deployment
* https://github.com/breck7/scroll/issues/72
* https://github.com/breck7/scroll/issues/72

[2022-11-13 13:47] breck7 commented on #298
Wow! Sorry this was a bug. Thank you for alerting me to this. Fixed here: https://github.com/breck7/pldb/commit/113e2d1db0902ab28e411d101dbca8a0d55a51b0

[2022-11-13 13:50] SRS-WRKS commented on #298
@breck7 : thanks for the fix. I am closing.

[2022-11-13 13:50] #298 closed

[2022-11-14 12:59] adriantintpilver opened #311 "Problems with build pldb in local - treeBase.node.js:271 - throw new Error("bad \\r in " + fullPath)"
I'm having problems running the build locally, try with node 16 and with the latest version and it is the same, attach build log error.
Run this in a new docker with fresh git clone from pldb:main.
Does anyone have this error too? I heard about suggestion.
Thanks!

![pldb error build in node 16](https://user-images.githubusercontent.com/114493221/201656926-8267f460-1ff0-4bf2-9731-bf4c2bfebd15.png)

[2022-11-14 13:47] adriantintpilver commented on #311
I also thought that the first time, so I deleted everything and downloaded everything from scratch, now I'm with a fresh version of main without any changes from my local and it keeps happening.
I'm still investigating

[2022-11-14 14:14] celtic-coder commented on #311
Is  ".q.pldb" (with a leading dot), a valid PLDB file?

[2022-11-14 15:53] adriantintpilver commented on #311
I thinking the same, but if you delete the ".ql.pldb" file, the error appear in the next file, i had try deleted many file but the error always appear in the first taken file in alphabetical order in things folder.
Atanch the same error with the next file "05ab1e.pldb"
![pldb error build in node deleted - ql pldb-](https://user-images.githubusercontent.com/114493221/201704148-0315b2ae-3ce1-4cc8-8d

[2022-11-14 22:54] adriantintpilver commented on #311
debugging the line 271 from treebase.node.js, and put console log: content.match(/\r/) --> i found "/r" in all lines of all .pldb files, is very extranger.  At each newline find /r/n

![pldb error build log print content match(r))](https://user-images.githubusercontent.com/114493221/201784500-4fcef82c-3a5e-4dda-a5e9-a4356d0e2b10.jpeg)

still work in that

[2022-11-14 23:17] adriantintpilver commented on #311
i work ia borrowed computer with a windows, (because mi notebook broken last week), work in docker with shared folder, but if i do the git clone in the folder from the windows side, this error happens, but if you do the git clone in the folder docker side from the command line inside the docker the error don't happen.
I am happy I solved the error, and the conclusion is always the same  --> Fuking

[2022-11-14 23:17] #311 closed

[2022-11-15 04:53] SRS-WRKS commented on #92
Files
`database/things/goedel.pldb ` and `database/things/godel.pldb` seem to be duplicates. Please note the slightly altered spellings.

[2022-11-15 14:42] breck7 commented on #92
@SRS-WRKS can we create a new issue for these? (Or just submit commits with the corections). Thanks!

[2022-11-15 18:52] adriantintpilver commented on #92
I would stay with Gödel and eliminar Goedel, but the problem is that Gödel is in German and when using the ö with umlaut you will never find it in the search engines, and they will probably create it again by not finding it. We could leave a joint name for both as "Gödel (Goedel)" so it can be found by searching for it in both languages.
The graphit is definitly duplicated and only keep one.

[2022-11-15 19:01] breck7 opened #313 "Make sure we have data on over 100 languages for the feature "Case Insensitive Identifiers""
https://pldb.com/languages/case-insensitive-identifiers-feature.html

[2022-11-15 19:28] #250 closed

[2022-11-15 19:45] celtic-coder commented on #250
Good work, Mahad (@mahadwaseem123)! 👍

[2022-11-15 20:24] mahadwaseem123 opened #314 "Issue while building project"
Hi @breck7 , getting below error while building project i.e npm run build
<img width="907" alt="Screenshot 2022-11-16 at 1 23 07 AM" src="https://user-images.githubusercontent.com/36690888/202018207-4a9670aa-4937-49b7-ae6a-928298900ac0.png">

[2022-11-15 20:31] breck7 commented on #314
Sorry try running `npm install .; npm run tsc`.

[2022-11-16 01:07] adriantintpilver commented on #259
added the Engineering at Meta as a reference.

[2022-11-16 01:07] #259 closed

[2022-11-16 03:44] SRS-WRKS commented on #92
@adriantintpilver : pldn support key "aka". The alternative name could be provided as value to this key.

@breck7 Yes, but i cant delete files in the repository without discussion :).  The names are put here for discussion and after many days, if no one objects there would be deletion.

[2022-11-16 06:47] SRS-WRKS commented on #89
Continued in https://github.com/breck7/pldb/issues/92

[2022-11-16 14:28] adriantintpilver commented on #92
Next I share with you the plan with all these fixes before making the pull request so that you can think about the issue since some duplicate or incorrect files are eliminated.

-. ALFRED: Link to Wikipedia, summary, release date and official site are added.

-. ALCOR: the extra text of wikipedia that did not appear in any way on the web is eliminated

-. ALGOBOX: it is completed with translations

[2022-11-16 15:38] adriantintpilver commented on #92
i trying the aka field and i see this works in the "full text search" but doesn't work in the combo search. i think is good idea add the aka field to the combo search, what do you think?

[2022-11-16 16:09] celtic-coder commented on #92
Good work, Adrian (@adriantintpilver)! 👍

[2022-11-16 19:54] #314 closed

[2022-11-16 20:53] mahadwaseem123 commented on #250
Thanks a lot @celtic-coder

[2022-11-16 23:15] breck7 opened #318 "Calendar page needs to be updated"
https://pldb.com/lists/calendar.html

[2022-11-18 05:30] SRS-WRKS commented on #92
Files `database/things/hugo.pldb` and `database/things/hugo-programming-language.pldb` seem to be duplicates.

[2022-11-18 17:39] rkimera94 commented on #318
@breck7  let me work on this

[2022-11-18 20:48] adriantintpilver commented on #92
I finally got through all these files I'm happy. It would be good to close this issue and create a new one when we have more duplicates or things to improve.

[2022-11-18 21:06] rkimera94 commented on #318
@breck7  I have made some updates to the calendar.
PR ready for review [PR](https://github.com/breck7/pldb/pull/323)

[2022-11-19 00:58] #318 closed

[2022-11-19 00:58] celtic-coder commented on #318
Good work! 👍

[2022-11-19 12:36] joakim opened #324 "Feature for Prototype-based Inheritance?"
This is a defining feature of several languages – Self, JavaScript, Lua, Io and others.

It would be useful to list languages having this feature.

[2022-11-19 15:55] breck7 commented on #324
Agreed!

[2022-11-20 18:30] breck7 opened #325 "add pm: https://github.com/teaxyz/cli"

[2022-11-21 04:01] SRS-WRKS commented on #325
I am on it.

[2022-11-21 06:05] #325 closed

[2022-11-21 08:19] rkimera94 commented on #247
@breck7   is  it okay to close this issue or there is more to add  ?

[2022-11-21 12:09] #150 closed

[2022-11-21 15:12] breck7 opened #327 "Add lang: buzz"
https://github.com/buzz-language/buzz

[2022-11-21 15:55] breck7 opened #328 "RFP: turn a Twitter feed into a scroll"
I am cross posting this here but the main issue is in the Scroll hub. This will be very impactful and anyone(s) who wants to work on it go for it: (the more separate attempts to bulid this the better)

https://github.com/breck7/scroll/issues/83

[2022-11-21 20:24] celtic-coder commented on #92
Main items have been taken care of in #322, can be closed.

[2022-11-21 20:24] #92 closed

[2022-11-22 05:03] SRS-WRKS commented on #327
I am on it.

[2022-11-22 05:52] #327 closed

[2022-11-22 07:30] SRS-WRKS opened #330 "database/things/* errata discussion - Part 2"
Continuation of Part 1 : https://github.com/breck7/pldb/issues/92

File `database/things/intellect.pldb`  : `Wikipedia link https://en.wikipedia.org/wiki/Intellect` seems to be pointing to unrelated article.

[2022-11-22 14:58] adriantintpilver commented on #330
i review the intellect.pldb and i think the description and wikipedia link es correct, but talk about the intellect human and not appear a programing language. i not found anything about a Intellect programing language in internet either.
Any way its very difficult search this because has so many information about the intellect in different ways, but i don't find nothing about intellect programing

[2022-11-22 15:15] SRS-WRKS commented on #330
@adriantintpilver : Hi thank for the comment. The reference keys value (https://semanticscholar.org/paper/7e2664c73a89b1524313510426ef1b7ca4139828) and hopl keys value (https://hopl.info/showlanguage.prx?exp=761) talk about Intellect by larry harris released in 1970's. wikipedia's disambiguation page  [https://en.wikipedia.org/wiki/Intellect_(disambiguation) ]

does not seem to list this language.

[2022-11-22 16:45] breck7 opened #331 "Add language: https://link.springer.com/chapter/10.1007/978-3-030-73758-0_4"

[2022-11-22 17:40] adriantintpilver commented on #330
i agree with you, there doesn't seem to be a programming language with this name.

[2022-11-22 21:17] celtic-coder commented on #330
Issue can now be closed. Thanks, Adrian (@adriantintpilver)!

[2022-11-23 04:38] SRS-WRKS commented on #330
@celtic-coder : There are more than 3000 files in pldb. Someone would have contributed time in creating them. Should i open a separate issue for each files content to be deleted/modified ?? I don't feel comfortable deleting file contents without intimation.

Can i reopen this issue ??

[2022-11-23 04:39] SRS-WRKS commented on #331
I am on it.

[2022-11-23 05:21] #331 closed

[2022-11-23 08:00] celtic-coder commented on #330
I'll reopen. I thought that it applied to this specific set of discrepancies. Sorry about that! 😢

[2022-11-23 08:04] SRS-WRKS commented on #330
@celtic-coder : Thank you :)

[2022-11-23 08:30] SRS-WRKS commented on #330
Files `database/things/janus-programming-language.pldb` and `database/things/janus.pldb` seem to be duplicates with separate information that points to same thing.

[2022-11-23 15:14] adriantintpilver commented on #330
i review the Janus thing, and i see is a triplicated with the janus-lang.pldb too.
i going to merged the three in one with all information.

[2022-11-23 18:13] adriantintpilver commented on #330
Deletting tu Janus duplicated (janus.pldb and janus-programing-languaje.pldb)
Keep janus-lang.pldb with marging of all data and update related languaje toontalk.pldb to the good janus-lang link

[2022-11-24 07:11] SRS-WRKS commented on #330
Files `database/things/iota-lang.pldb` and `database/things/jot.pldb` seem to be duplicates.

[2022-11-24 19:41] adriantintpilver commented on #330
i think the real language is "iota and jot" research i found this --> https://en.wikipedia.org/wiki/Iota_and_Jot
right now we have a poor information about jot.pldb and iota-lang.pldb, but i see much information about "iota and jot" language.
What do you think about that?
We also have iota.pldb but this one does sound like something different.

[2022-11-24 21:52] adriantintpilver opened #340 "Problem in languages with some link with low wink "_" replaced with "<em>" and "</em>""
i don't know, if this is a problem recently or are there for a long time, attaching print screens for the steps

I see the .pldb its ok
![iota-lang-pldb](https://user-images.githubusercontent.com/114493221/203866408-d0990f40-cedc-434a-ad15-9aa2a1a9ae95.jpeg)

the .scroll its ok too
![iota-lang-scroll](https://user-images.githubusercontent.com/114493221/203866432-fb2e253e-43f1-4796-8c41-63de982d35e

[2022-11-24 22:05] breck7 commented on #340
Wow! Great spot @adriantintpilver ! This is a bug with scroll, where scroll is matching "_" inside of quotes. I think I had something like this earlier too. There's a simple fix. I can't get to it right at the moment, so feel free to play around, otherwise I'll fix later. Nice catch!

[2022-11-25 00:32] breck7 opened #341 "add protocol: ActivityPub"

[2022-11-25 05:37] SRS-WRKS commented on #330
@adriantintpilver : You are free to delete them, after documenting it here (if you feel the need to) :)

[2022-11-25 05:39] SRS-WRKS commented on #341
I am on it.

[2022-11-25 06:40] #341 closed

[2022-11-26 17:30] martin12333 commented on #156
(BTW, git-for-windows, and WSL, do have  `cp -R`)

[2022-11-27 21:21] celtic-coder commented on #156
Hi Martin (@martin12333),

Thanks for letting me know! That is very useful. I'll give it a try when I have time and see how it goes.

Kind Regards,
Liam

[2022-11-27 21:40] tif-calin opened #343 "What's the standard way of handling languages with the same name as existing languages"
Inspired by Google's Rune language which was recently made public but there already exists [a pl named Rune](https://rune-rs.github.io/) and it predates it.

Google's will inevitably be more popular (assuming it isn't [killedbygoogle](https://killedbygoogle.com/)) but it seems kinda unfair given the other language came first.

[2022-11-27 22:01] tif-calin opened #344 ""Yes/no" values mixed in with "true/false" values"
I recently did some analysis on the CSV. I added up all the instances of certain values for different fields and got some weird results:

[code]

<details>
<summary><h2>Other concerns arising from this analysis</h2></summary>

1. For `booleanTokens` we should make sure the tokens are alphabetized:
[code]
In the future someone might try to add `true false off on` or something.

2. Similar to the ab

[2022-11-27 22:01] tif-calin commented on #344
Sorry for shoe-horning in a bunch of issues into one

[2022-11-28 08:08] SRS-WRKS commented on #344
@tif-calin : How did you generate the analysis/report ??

Could you share the script here, i would be happy to contribute to your project .

[2022-11-28 15:59] breck7 opened #345 "add event"
https://racketfest.com/

[2022-11-28 16:02] breck7 commented on #343
Let's add both.

Let's give Google's the permalink `rune.pldb` b/c that's probably what most people will want for now. If in the future the older one becomes more popular we can revert.

Name conflicts in `title` field are fine. The only place we have to make an editorial decision is with permalinks.

And because everything is on git, we can change at any time if we make a mistake.

[2022-11-28 16:07] breck7 commented on #344
This is fantastic work @tif-calin ! I've fixed the first issue named in the header. Could you break the others into separate issues?

[2022-11-28 19:33] tif-calin commented on #344
@SRS-WRKS oh it was just a really simple quick script I wrote. I recently found out you can easily run typescript files with `deno` without any dependencies so I've been playing around with using typescript as my scripting language of choice instead of Python.

Code looks something like this:

[code]

Would probably make more sense as a Jupyter notebook though

[2022-11-28 19:33] tif-calin commented on #344
Sure, I'll make a note to do that after work today

[2022-11-28 19:43] tif-calin commented on #343
@breck7 so what would the other language be called? `rust-rs.pldb`?

This might be a more clearcut case this time, but wondering if we have a more in-depth solution for when this issue arises again in the future

I'm sure there's gonna be many hobby langs with the same name and having to do `lang.pldb`, `lang2.pldb`, etc doesn't seem like a good solution haha. Maybe we should consider using the id

[2022-11-28 19:53] breck7 commented on #343
Great question @tif-calin. We have dozens of instances of this already. We usually just use something like `rust-lang`, et cetera. Our key strategy is to do everything on git, so we can always fix everything all at once in a single commit. Migrations are a piece of cake (and will be even easier as our tooling improves).

[2022-11-28 21:51] tif-calin commented on #343
Ok fair enough. I still have concerns about how sustainable this is. I guess we can do something like `lang-YEAR`, `lang-YEAR-MM`, etc as well

[2022-11-29 03:40] SRS-WRKS commented on #345
I am on it.

[2022-11-29 04:31] #345 closed

[2022-11-29 06:40] tif-calin opened #348 "Columns with multiple answers should be alphabetized"
For example, for `booleanTokens` we have these answers currently
[code]
In the future, someone might try to add `true false off on` and that would be considered a different answer.

<details>
<summary>
Another examples of a problematic columns is `country` which currently has this frequency count:
</summary>

[code]

</details>

Overall I think we should be giving more consideration to fields whos

[2022-11-29 06:49] tif-calin opened #349 "Columns with multiple answers are problematic. We should consider using sets as a data structure instead of strings"
This is the current frequency count for the `compilesTo` column:
[code]

One major issue that comes up immediately is how `javascript` and `javascript java php python r ruby scheme` are considered to be two separate answers.

Clearly this isn't a useful distinction to make. There's a few possible solutions to this. My least favorite would be to automatically generate a bunch of `compilesTo{lang}`

[2022-11-29 07:00] tif-calin opened #350 "Some enum valued nodes could use definition"
When typing out certain columns we get a nice explanatory comment along with the autocomplete name. This seems to be defined with the `description` attribute in the grammar files

<img width="666" alt="image" src="https://user-images.githubusercontent.com/76538249/204459705-23904e11-d6f3-4e80-9fef-66124165e0ec.png">

With columns such as `type` where we have an enum of possible values, it'd be ext

[2022-11-29 07:01] tif-calin commented on #344
Created issues #348 #349 and #350

[2022-11-29 07:01] #344 closed

[2022-11-29 12:15] SRS-WRKS commented on #350
@tif-calin : Could i add a related issues link to this issue ??

[2022-11-29 14:20] breck7 commented on #348
This is a great idea @tif-calin ! This should be done upstream in JTree/Grammar. That way CancerDB.com will benefit too ( (and any future sites).

[2022-11-29 14:20] breck7 commented on #349
This is a great issue @tif-calin ! We can do this upstream in JTree/Grammar so CancerDB.com et al will benefit to.

[2022-11-29 14:21] breck7 commented on #350
This is a great issue and suggestions @tif-calin ! I like the suggestion about frequency count as well. This can be done upstream in JTree/Grammar so CancerDB.com et cetera can benefit too.

[2022-11-29 16:45] tif-calin commented on #350
@SRS-WRKS ofc! I can edit the main post too

[2022-11-30 06:06] SRS-WRKS commented on #350
@tif-calin : Editing would not be required. I like like cross linking related issues. Thank you and have a wonderful day.

Related issue: https://github.com/breck7/pldb/discussions/130

[2022-11-30 06:13] SRS-WRKS commented on #330
File `database/things/li-chen-wang.pldb`: file has title Li-Chen Wang which seems to be a persons name. The type is pl (programming language). Wikipedia links to https://en.wikipedia.org/wiki/Li-Chen_Wang who seemed to have a part to play in creation of Palo Alto Tiny BASIC for Intel 8080-based microcomputers.

[2022-11-30 08:45] rkimera94 opened #353 "Download Link for languages / Downlaod page link"
@breck7 @celtic-coder
I was thinking it would be good to have a link to the official download page or the download  URL  for the languages. Only languages that have a download page and do not need  cloning from Github

[2022-11-30 09:41] celtic-coder commented on #353
Yes, Kimera, that would be a useful addition!

[2022-11-30 16:15] rkimera94 commented on #353
okay, let me work on it @celtic-coder